
<div  ng-controller="dependent_pId_gen">
  <div class="titles">Dependent Nominee Pensioner Form</div>
  <div style="color:red; text-align: center;" ng-show="flgmain"> <span>*</span> Field is Compulsory</div>  
  <form name="pensionerForm">
    <div class="formsec" style="background: #eae7e7;">
      <h4>Employee Info</h4>
      <ul class="formshow list3">
        <li>
          <div class="form-group">
            <label class="required">Pensioner ID</label>
              <select class="form-control dropdd" ng-model="form.staffPensionerId"  data-live-search="true" name="staffPensionerId" required title="Select Pensioner ID" ng-options="x.pensioner_id as x.pensioner_id+ ' - ' +x.pensioner_name for x in deathEmpId" ng-change="filldataEmp(form.staffPensionerId)"> 
              <option value="" selected>Select Pensioner ID</option>
              </select>
          </div>
          <div class="error" ng-show="pensionerForm.staffPensionerId.$error.required  && pensionerForm.staffPensionerId.$touched"  style="color: red;">
            Select Pensioner ID
          </div>  
        </li>
          <li>
              <div class="form-group">
                <label class="required">Name of Employee</label>
                <div class="disflex">
                <select class="form-control" name="prefix" required disabled  style="width: 90px;" ng-model="form.prefix" ng-options="prefix.shortName as prefix.displayName for prefix in masterdata | filter: { type: 'prefix' } | orderBy:'displayName'" ng-change="fillAutomatic(form.prefix,'prefix')">
                <option value="" disabled selected>Prefix</option>
                </select>
                <input type="text" class="form-control" m-name name="employeeName" required disabled placeholder="Name" ng-model="form.employeeName" maxlength="60"/>
                </div>
              </div>
              <div class="disflex">
                <div class="error" ng-show="pensionerForm.prefix.$error.required && pensionerForm.prefix.$touched"  style="color: red; width: 90px;">
                  Select Prefix
                </div>
                <div class="error" ng-show="pensionerForm.employeeName.$error.required && pensionerForm.employeeName.$touched"  style="color: red; width: calc(100% - 90px);">
                  Enter Employee Name
                </div>
              </div>
              
          </li>
          <li>
            <div class="form-group">
              <label class="required">Employee Type</label>
              <select class="form-control" ng-model="form.pensionerTypeCode" required disabled name="pensionerTypeCode"  title="Select Employee Type" ng-options="pensionerType.pensionerTypeCode as pensionerType.dscr for pensionerType in pensionerType | orderBy:'pensionerTypeCode'"><!--ng-change="fetchgrade(form.pensionerTypeCode)"-->
                <option value="" disabled selected>Select Employee Type</option>
            </select>
            </div> 
            <div class="error" ng-show="pensionerForm.pensionerTypeCode.$error.required && pensionerForm.pensionerTypeCode.$touched"  style="color: red;">
              Select Employee Type
            </div>
        </li>
        <li>
          <div class="form-group">
            <label class="required">Pay Commission Code</label>
            <select class="form-control" ng-model="form.payCommissionCode" required disabled name="payCommissionCode"  title="Select Pay Commission Code" ng-options="x.payCommissionCode as x.dscr for x in payCommisions | orderBy:'dscr'">
              <option value="" disabled selected>Select Pay Commission Code</option>
              </select>
          </div>
          <div class="error" ng-show="pensionerForm.payCommissionCode.$error.required && pensionerForm.payCommissionCode.$touched"  style="color: red;">
            Select Pay Commission Code
          </div> 
        </li>
          <li>
            <div class="form-group">
              <label class="required">Gender</label>
              <select class="form-control" ng-model="form.sex" required disabled name="sex" title="Select Gender" ng-options="sex.shortName as sex.displayName for sex in masterdata | filter: { type: 'sex' } | orderBy:'displayName'">
              <option value="" disabled selected>Select Gender</option>
              </select>
            </div>
            <div class="error" ng-show="pensionerForm.sex.$error.required && pensionerForm.sex.$touched"  style="color: red;">
              Select Gender
            </div>
          </li>
          <li>
            <div class="form-group">
              <label class="required">Date of Birth</label>
              <input type="text" class="datepicker form-control" autocomplete="off" required disabled name="dateOfBirth" placeholder="DD-MM-YYYY" datepicker ng-model="form.dateOfBirth" ng-change="isSeniorCitizen(form.dateOfBirth)"/>
            </div> 
            <div class="error" ng-show="pensionerForm.dateOfBirth.$error.required && pensionerForm.dateOfBirth.$touched"  style="color: red;">
              Enter Date of Birth
            </div>
            <div class="error" ng-show="dobflg"  style="color: red;">
              Your Date of Birth is not eligible for pension
            </div>
        </li>
          <li>
            <div class="form-group">
              <label>Father's Name / Husband's Name</label>
              <input type="text" m-name class="form-control" maxlength="60" disabled placeholder="Father's Name / Husband's Name" ng-model="form.fatherName" name="fatherName"/>
             </div>
        </li>
        <li>
          <div class="form-group">
            <label>Religion</label>
            <select class="form-control" ng-model="form.religionName" name="religionName" disabled ng-options="x.religionName as x.religionName for x in religion">
              <option value="" selected>Select Religion</option>
              </select>
           </div>
      </li>

      <li>
        <div class="form-group">
          <label class="required">Aadhaar No.</label>
          <input type="text" class="form-control" maxlength="12" maxlength="12" placeholder="Aadhaar No" disabled required name="aadhaar" ng-model="form.aadhaar" m-num-only ng-blur="chkAadhar();" /><!--aadhar-validator checkDuplicate('aadhaar',form.aadhaar)-->
        </div> 
        <div class="error" ng-show="aadharflag"  style="color: red;">
          Enter correct Aadhaar No.
        </div>
        <div class="error" ng-show="aadhaardup"  style="color: red;">
          Aadhaar No. already exist
        </div>
        <!-- <div class="error" ng-show="pensionerForm.aadhaar.$error.minlength "  style="color: red;aadhaardup">
          Enter correct Aadhaar No.
        </div> -->
        <!-- <div class="error" ng-show="(pensionerForm.aadhaar.$error.required && pensionerForm.aadhaar.$touched) || (form.aadhaar === undefined && pensionerForm.aadhaar.$touched)"  style="color: red;">
          Enter Aadhaar No.
        </div> -->
      </li>
      <li ng-if="form.panRecord==='N'">
        <div class="form-group">
          <label>PAN Record</label>
          <select class="form-control" ng-model="form.panRecord" name="panRecord" data-live-search="true" disabled title="Select" ng-options="panRecord.shortName as panRecord.displayName for panRecord in masterdata | filter: { type: 'pan_record' } | orderBy:'displayName'" ng-change="fillAutomatic(form.panRecord,'pan')">
            <option value="" readonly selected >Select</option>
        </select>
        </div> 
      </li>
      <li ng-if="form.panRecord==='Y'">
        <div class="form-group">
          <label>PAN No.</label>
          <input type="text" class="form-control" m-capitalize maxlength="10" minlength="10" disabled  pan-number placeholder="like:- ABCTY1234D" required="" name="pan" ng-model="form.pan"/><!-- ng-blur="checkDuplicate('pan',form.pan)"-->
        </div> 
        <div class="error" ng-show="pensionerForm.pan.$error.panNumber" style="color: red;">
          Please enter a valid PAN number (10 characters).
        </div>
        <div class="error" ng-show="pensionerForm.pan.$error.required && pensionerForm.pan.$touched && form.panRecord=='Y' || (form.panRecord===undefined && pensionerForm.panRecord.$touched)"  style="color: red;">
          Enter PAN No.
        </div>
        <!-- <div class="error" ng-show="pandup"  style="color: red;">
          PAN  No. already exist
        </div> -->
      </li>
        <li>
          <div class="form-group">
            <label class="required">Date Of death</label>
            <input type="text" class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required disabled name="dateOfDeath" ng-model="form.dateOfDeath" ng-change="dateCompare(form.dateOfBirth,form.dateOfDeath,'dateOfDeath')"/>
          </div> 
          <div class="error" ng-show="pensionerForm.dateOfDeath.$error.required && pensionerForm.dateOfDeath.$touched"  style="color: red;">
            Select Date Of death
          </div> 
          <div class="error" ng-show="dateOfDeathFlag"  style="color: red;">
            Date Of death is greater than DOB.
          </div>
        </li>
        <li>
          <div class="form-group">
            <label>Rate Of Pension(%)</label>
            <input type="text" class="form-control" placeholder="Rate Of Pension" name="rateOfPension" required disabled ng-model="form.rateOfPension" m-num-only maxlength="3"/>
          </div> 
        </li>
        <li>
          <div class="form-group">
            <label class="required">PPO No.</label>
            <input type="text" class="form-control" maxlength="13" placeholder="PPO No" required disabled name="ppoNo" ng-model="form.ppoNo"/>
          </div> 
          <div class="error" ng-show="pensionerForm.ppoNo.$error.minlength"  style="color: red;">
            Enter correct PPO No.
          </div>
          <div class="error" ng-show="pponodup"  style="color: red;">
            PPO No. already exist
          </div>
          <!-- <div class="error" ng-show="pensionerForm.ppoNo.$error.required && pensionerForm.ppoNo.$touched"  style="color: red;">
            Enter PPO No.
          </div> -->
        </li>
         
          </ul>
      </div>

      
      <div class="formsec" style="background: #f9f0e1;">
        <h4>Affiliation Info</h4>
        <ul class="formshow list3">
          <!-- <li>
            <div class="form-group">
              <label>University Code</label>
              <input type="text" class="form-control" placeholder="University Code" required="" ng-model="form.universityCode"/>
            </div> 
        </li> -->
      <li>
        <div class="form-group">
          <label class="required">College/University</label>
            <select class="form-control" ng-model="form.collegeCode" required disabled name="collegeCode" title="Select College/University" ng-options="x.collegeShortName as x.dscr for x in colleges" ng-change="fetchdepartment(form.collegeCode);">
            <option value="" disabled selected>Select College</option>
        </select>
        </div>
        <div class="error" ng-show="pensionerForm.collegeCode.$error.required && pensionerForm.collegeCode.$touched"  style="color: red;">
          Select College/University
        </div> 
    </li>
        <li>
          <div class="form-group">
            <label class="required">Department</label>
            <select class="form-control" ng-model="form.departmentCode" required disabled name="departmentCode" title="Select Department" ng-options="x.deptShortName + '!!' + x.departmentIds  as x.dscr for x in departmentlist">
              <option value="" disabled selected>Select Department</option>
          </select>
          </div> 
          <div class="error" ng-show="pensionerForm.departmentCode.$error.required && pensionerForm.departmentCode.$touched && form.collegeCode=='1001'"  style="color: red;">
            Select Department
          </div>
      </li>
        <li>
          <div class="form-group">
            <label class="required">Level</label>
            <select class="form-control" ng-model="form.gradeCode" required disabled name="gradeCode" title="Select Level" ng-options="grade.gradeCode as grade.dscr for grade in pensionerGrade | filter: {pensionerTypeCode: form.pensionerTypeCode}  | orderBy:'gradeCode'" ><!--ng-change="fetchdesigation(form.gradeCode);"-->
              <option value="" disabled selected>Select Level</option>
          </select>
          </div> 
          <div class="error" ng-show="pensionerForm.gradeCode.$error.required && pensionerForm.gradeCode.$touched"  style="color: red;">
            Select Level
          </div>
      </li>

        <li>
          <div class="form-group">
            <label class="required">Designation</label>
            <select class="form-control" ng-model="form.desigShortName" required disabled name="desigShortName" title="Select Designation" ng-options="designation.desigShortName + '!!' + designation.designationId as designation.dscr for designation in pensionerDesignation | filter: { gradeCode: form.gradeCode } ">
              <option value="" disabled selected>Select Designation</option>
          </select>
          </div> 
          <div class="error" ng-show="pensionerForm.desigShortName.$error.required && pensionerForm.desigShortName.$touched"  style="color: red;">
            Select Designation
          </div>
      </li>
        <li ng-if="form.pensionerTypeCode=='PT1'">
        <div class="form-group">
          <label>Subject</label>
          <select class="form-control" ng-model="form.subjectCode" name="subjectCode" required disabled title="Select Subject" ng-options="subjectCode.subjectCode as subjectCode.dscr for subjectCode in subjects">
            <option  value="" disabled selected>Select Subject</option>
        </select>
        </div> 
      </li>
      <li>
        <div class="form-group">
          <label>Pensioner Univ Id</label>
          <input type="text" class="form-control" maxlength="20"  placeholder="Pensioner Univ Id"  disabled name="pensionerUnivId" ng-model="form.pensionerUnivId"/>
        </div> 
      </li>
            </ul>
         </div>


         
       <div class="formsec" style="background: #eae7e7">
        <h4>Appointment Info</h4>
        <ul class="formshow list3">
          <li>
            <div class="form-group">
              <label class="required">Date of Last Appointment</label>
              <input type="text" class="datepicker form-control" autocomplete="off"  placeholder="DD-MM-YYYY" datepicker required disabled name="dateOfLastAppointment" ng-model="form.dateOfLastAppointment" ng-change="dateCompare(form.dateOfBirth,form.dateOfLastAppointment,'LA')"/>
            </div> 
            <div class="error" ng-show="pensionerForm.dateOfLastAppointment.$error.required && pensionerForm.dateOfLastAppointment.$touched"  style="color: red;">
              Select Date of Last Appointment
            </div>
            <div class="error" ng-show="la"  style="color: red;">
              Date of Last Appointment is greater than DOB 
            </div>
          </li>
          <li>
            <div class="form-group">
              <label>Date of Regularisation</label>
              <input type="text" class="datepicker form-control" autocomplete="off" disabled placeholder="DD-MM-YYYY" datepicker ng-model="form.dateOfRegularisation" ng-change="form.dateOfRegularisation? dateCompare(form.dateOfLastAppointment, form.dateOfRegularisation, 'Rgl') : dateCompare(form.dateOfLastAppointment, form.dateOfRegularisation, 'Rgl1') "
              />
            </div> 
            <div class="error" ng-show="rgl"  style="color: red;">
              Date of Regularisation is greater than Date of Last Appointment
            </div>
          </li>

          <li>
            <div class="form-group">
              <label class="required">Date of Superannuation</label>
              <input type="text" class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required disabled name="dateOfSeparation" ng-model="form.dateOfSeparation"  ng-change="dateCompare(form.dateOfRegularisation ? form.dateOfRegularisation : form.dateOfLastAppointment, form.dateOfSeparation, form.dateOfRegularisation ? 'Spr' : 'Spr1')"
              />
            </div> 
            <div class="error" ng-show="pensionerForm.dateOfSeparation.$error.required && pensionerForm.dateOfSeparation.$touched"  style="color: red;">
              Select Date of Separation
            </div>
            <div class="error" ng-show="spr"  style="color: red;">
              Date of Separation is greater than Date of Regularisation
            </div>
            <div class="error" ng-show="spr1"  style="color: red;">
              Date of Separation is greater than Date of Last Appointment
            </div>
          </li>

            </ul>
         </div>

    <div class="formsec">
      <h4>Pensioner's Dependent Info</h4>
      <ul class="formshow list3">
          <li>
            <div class="form-group">
              <label class="required">Dependent</label>
              <select class="form-control" ng-model="form2.dependentSlno" required name="dependentSlno"  title="Select Employee Type" ng-options="x as x for x in dependentSlnoList | orderBy:x" ng-change="filldataPen(form.staffPensionerId,form2.dependentSlno)">
                <option value="" selected>Select Dependent</option>
            </select>
            </div> 
            <div class="error" ng-show="pensionerForm.dependentSlno.$error.required && pensionerForm.dependentSlno.$touched"  style="color: red;">
              Select Dependent
            </div>
        </li>
        <li>
          <div class="form-group">
            <label class="required">Pensioner Relation</label>
              <!-- <select class="form-control" ng-model="form2.pensionerRelation" name="pensionerRelation" required title="Select Pensioner Relation" ng-options="x.pensionerRelation as x.pensionerRelation for x in relationship" ng-if="x.pensionerRelation !== 'Self'"> 
              <option value="" disabled selected>Select Pensioner Relation</option>
              </select> -->
              <select class="form-control" ng-model="form2.pensionerRelation" disabled name="pensionerRelation" required title="Select Pensioner Relation">
                <option value="" selected>Select Pensioner Relation</option>
                <option ng-show="x.pensionerRelation !== 'Self'" ng-repeat="x in relationship" ng-value="x.pensionerRelation">{{x.pensionerRelation}}</option>
            </select>
          </div>
          <div class="error" ng-show="pensionerForm.pensionerRelation.$error.required  && pensionerForm.pensionerRelation.$touched"  style="color: red;">
            Select Pensioner Relation
          </div>  
        </li>
          <li>
            <div class="form-group">
              <label class="required">Pensioner Name</label>
              <input type="text" class="form-control" m-name maxlength="60" disabled placeholder="Pensioner Name" name="pensionerName" required ng-model="form2.pensionerName"/>
            </div>
            <div class="error" ng-show="pensionerForm.pensionerName.$error.required && pensionerForm.pensionerName.$touched"  style="color: red;">
              Enter Pensioner Name
            </div> 
          </li>
          <li>
            <div class="form-group">
              <label class="required">Gender</label>
              <select class="form-control" ng-model="form2.sex" required disabled name="sex2" title="Select Gender" ng-options="sex.shortName as sex.displayName for sex in masterdata | filter: { type: 'sex' } | orderBy:'displayName'">
              <option value="" disabled selected>Select Gender</option>
              </select>
            </div>
            <div class="error" ng-show="pensionerForm.sex2.$error.required && pensionerForm.sex2.$touched"  style="color: red;">
              Select Gender
            </div>
          </li>
          <li>
            <div class="form-group">
              <label class="required">Date of Birth</label>
              <input type="text" class="datepicker form-control" disabled autocomplete="off" required name="dateOfBirth" placeholder="DD-MM-YYYY" new-datepicker-18 ng-model="form2.dateOfBirth"/>
            </div> 
            <div class="error" ng-show="pensionerForm.dateOfBirth.$error.required && pensionerForm.dateOfBirth.$touched"  style="color: red;">
              Enter Date of Birth
            </div>
            <div class="error" ng-show="dobflg"  style="color: red;">
              Your Date of Birth is not eligible for pension
            </div>
        </li>
        <li>
          <div class="form-group">
            <label>Rate Of Pension(%)</label>
            <input type="text" class="form-control" placeholder="Rate Of Pension" disabled required="" ng-model="form2.rateOfPension" m-num-only maxlength="3"/>
          </div> 
        </li>
        
        <li>
          <div class="form-group">
            <label class="required">Aadhaar No.</label>
            <input type="text" class="form-control" maxlength="12" maxlength="12" placeholder="Aadhaar No" required name="aadhaar" ng-model="form2.aadhaar" m-num-only ng-blur="chkAadhar(); " /><!--aadhar-validator checkDuplicate('aadhaar',form2.aadhaar)-->
          </div> 
          <div class="error" ng-show="aadharflag"  style="color: red;">
            Enter correct Aadhaar No.
          </div>
          <div class="error" ng-show="aadhaardup"  style="color: red;">
            Aadhaar No. already exist
          </div>
          <!-- <div class="error" ng-show="pensionerForm.aadhaar.$error.minlength "  style="color: red;">
            Enter correct Aadhaar No.
          </div> -->
          <!-- <div class="error" ng-show="(pensionerForm.aadhaar.$error.required && pensionerForm.aadhaar.$touched) || (form.aadhaar === undefined && pensionerForm.aadhaar.$touched)"  style="color: red;">
            Enter Aadhaar No.
          </div> -->
        </li>
        <li>
          <div class="form-group">
            <label>Email Id</label>
            <input type="text" class="form-control" placeholder="Email Id" name="emailId" ng-model="form2.emailId" ng-pattern="/^[a-zA-Z0-9._%+-]+@gmail\.com$/"/><!--ng-blur="checkDuplicate('emailId',form2.emailId)"-->
          </div>
          <div class="error" ng-show="pensionerForm.emailId.$error.required && pensionerForm.emailId.$touched" style="color: red;">
            This field is required.
          </div>
          <div class="error" ng-show="pensionerForm.emailId.$error.pattern" style="color: red;">
            Please enter a valid email address.
          </div>
          <div class="error" ng-show="emailIddup"  style="color: red;">
            Email Id already exist.
          </div>
      </li> 
        <li>
          <div class="form-group">
            <label class="required">Mobile No.</label>
            <input type="text" class="form-control" maxlength="10" minlength="10" ng-pattern="/^[6-9]\d{9}$/" placeholder="Mobile No" required name="mobileNo" ng-model="form2.mobileNo" m-num-only ng-change="sameAsMobileNo=false"/><!--ng-blur="checkDuplicate('mobileNo',form2.mobileNo)" -->
          </div> 
          <div class="error" ng-show="pensionerForm.mobileNo.$error.pattern || pensionerForm.mobileNo.$error.minlength"  style="color: red;">
            Mobile number should start with 6 to 9 and contains 10 digits mobile no.
          </div>
          <!-- <div class="error" ng-show="pensionerForm.mobileNo.$error.minlength"  style="color: red;">
            Enter 10 digits mobile no.
          </div> -->
          <div class="error" ng-show="(pensionerForm.mobileNo.$error.required && pensionerForm.mobileNo.$touched) || (form2.mobileNo===undefined && pensionerForm.mobileNo.$touched)"  style="color: red;">
            Enter Mobile No.
          </div>
          <div class="error" ng-show="mobileNodup"  style="color: red;">
            Mobile No. already exist
          </div>
        </li>
        <style>
          .sameaschk { display: flex; width: 142px; align-items: center; justify-content: space-between; font-weight: 500; float: right;}
          .sameaschk input{margin: 0;}
        </style>
        <li>
          <div class="form-group">
            <label class="required">WhatsApp No.  </label> <label class="sameaschk"><input type="checkbox" ng-model="sameAsMobileNo" ng-change="sameasMobileNo(form2.mobileNo)">Same as Mobile No.</label>
            <input type="text" class="form-control" maxlength="10" minlength="10" ng-pattern="/^[6-9]\d{9}$/" placeholder="WhatsApp Mobile No" required name="whatsAppMobileNo" ng-model="form2.whatsAppMobileNo" m-num-only/><!-- ng-blur="checkDuplicate('whatsAppMobileNo',form2.whatsAppMobileNo)"-->
          </div> 
          <div class="error" ng-show="pensionerForm.whatsAppMobileNo.$error.pattern || pensionerForm.whatsAppMobileNo.$error.minlength"  style="color: red;">
            Mobile number should start with 6 to 9 and contains 10 digits mobile no.
          </div>
          <!-- <div class="error" ng-show="pensionerForm.mobileNo.$error.minlength"  style="color: red;">
            Enter 10 digits mobile no.
          </div> -->
          <div class="error" ng-show="(pensionerForm.whatsAppMobileNo.$error.required && pensionerForm.whatsAppMobileNo.$touched) || (form.whatsAppMobileNo===undefined && pensionerForm.whatsAppMobileNo.$touched)"  style="color: red;">
            Enter Mobile No.
          </div>
          <div class="error" ng-show="whatsAppMobileNodup"  style="color: red;">
            Mobile No. already exist
          </div>
        </li>
        <li>
          <div class="form-group">
            <label class="required">PAN Record</label>
            <select class="form-control" ng-model="form2.panRecord" required data-live-search="true"  title="Select" ng-options="panRecord.shortName as panRecord.displayName for panRecord in masterdata | filter: { type: 'pan_record' } | orderBy:'displayName'" ng-change="fillAutomatic(form2.panRecord,'pan')">
              <option value="" readonly selected >Select</option>
          </select>
          </div> 
        </li>
        <li ng-if="form2.panRecord==='Y'">
          <div class="form-group">
            <label class="required">PAN No.</label>
            <input type="text" class="form-control" m-capitalize maxlength="10" minlength="10"  pan-number placeholder="like:- ABCTY1234D" required name="pan" ng-model="form2.pan"/><!-- ng-blur="checkDuplicate('pan',form2.pan)"-->
          </div> 
          <div class="error" ng-show="pensionerForm.pan.$error.panNumber" style="color: red;">
            Please enter a valid PAN number (10 characters).
          </div>
          <div class="error" ng-show="pensionerForm.pan.$error.required && pensionerForm.pan.$touched && form.panRecord=='Y' || (form2.panRecord===undefined && pensionerForm.panRecord.$touched)"  style="color: red;">
            Enter PAN No.
          </div>
          <div class="error" ng-show="pandup"  style="color: red;">
            PAN  No. already exist
          </div>
        </li>
        <li>
          <div class="form-group">
            <label class="required">PPO No.</label>
            <input type="text" class="form-control" disabled  maxlength="15" placeholder="PPO No" required name="ppoNo1" ng-model="form2.ppoNo" />
          </div> 
          <div class="error" ng-show="pensionerForm.ppoNo1.$error.minlength"  style="color: red;">
            Enter correct PPO No.
          </div>
          <div class="error" ng-show="pponodup"  style="color: red;">
            PPO No. already exist
          </div>
          <!-- <div class="error" ng-show="pensionerForm.ppoNo.$error.required && pensionerForm.ppoNo.$touched"  style="color: red;">
            Enter PPO No.
          </div> -->
        </li>
          </ul>
      </div>

      <div class="formsec" style="background: #f9f0e1;">
        <h4>Address</h4>
        <ul class="formshow list3">
              <li>
                <div class="form-group">
                  <label class="required">Pin</label>
                  <input type="text" class="form-control" placeholder="Pin" maxlength="6" name="pin" required ng-model="form2.pin" ng-blur="address(form2.pin)" m-num-only/>
                </div> 
                <div class="error" ng-show="pinflag"  style="color: red;">
                  Enter correct pin
                </div> 
              </li>
              <li>
              <div class="form-group">
                <label class="required">Address</label>
                <input type="text" class="form-control" placeholder="Address" required ng-model="form2.addr1"/>
              </div> 
              </li>
              <!-- <li>
              <div class="form-group">
                <label class="required">Post office</label>
              <select class="form-control" ng-model="form2.addr2"  title="Select Post Office">
                <option value="" disabled selected>Post Office</option>
                <option ng-repeat="post in postoffice" value="{{post.Name}}">{{post.Name}}</option>
              </select>
              </div> 
              </li> -->
              <li>
                <div class="form-group">
                  <label class="required">City</label>
                  <input type="text" class="form-control" required  m-name placeholder="City" ng-required="true" ng-model="form2.city"/>
                </div> 
              </li>
                  <li>
                    <div class="form-group">
                      <label class="required">State</label>
                      <input type="text" class="form-control" placeholder="State" m-name required ng-model="form2.state"/>
                    </div> 
                </li>
            </ul>
         </div>

           <div class="formsec" style="background: #ffe5ed;">
            <h4>Bank Account Info</h4>
            <ul class="formshow list3">
              <li>
                <div class="form-group">
                  <label class="required">Name of Bank</label>
                  <select class="form-control dropdd1" data-live-search="true" ng-model="bank.bankCode" name="bankCode" required ng-options="bank.bankCode as bank.bankName for bank in banklist">
                    <option value="" selected >Select Bank</option>
                </select>
                </div> 
                <div class="error" ng-show="pensionerForm.bankCode.$error.required && pensionerForm.bankCode.$touched"  style="color: red;">
                  Select Bank
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="required">Date Effective from</label>
                  <input type="text" class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required name="accountEffectiveFrom" ng-model="bank.accountEffectiveFrom" ng-change="dateCompare(form.dateOfBirth,bank.accountEffectiveFrom,'accountEffectiveFrom')"/>
                </div> 
                <div class="error" ng-show="pensionerForm.accountEffectiveFrom.$error.required && pensionerForm.accountEffectiveFrom.$touched"  style="color: red;">
                  Select Date Effective from
                </div>
                <div class="error" ng-show="accEfFrom"  style="color: red;">
                  Date Effective from is greater than DOB
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="required">Account No.</label>
                  <input type="text" class="form-control" m-num-only maxlength="20" placeholder="Account No" required name="accountNo" ng-model="bank.accountNo"/>
                </div> 
                <div class="error" ng-show="pensionerForm.accountNo.$error.required && pensionerForm.accountNo.$touched"  style="color: red;">
                  Enter Account No.
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="required">IFSC Code</label>
                  <input type="text" m-capitalize class="form-control" placeholder="IFSC Code" ng-pattern="/^[A-Z]{4}\d{7}$/" minlength="11" maxlength="11" required name="ifscCode" ng-model="bank.ifscCode" no-special-characters/>
                </div> 
                <div class="error" ng-show="pensionerForm.ifscCode.$error.required && pensionerForm.ifscCode.$touched"  style="color: red;">
                  Enter IFSC Code
                </div>
                <div class="error" ng-show="pensionerForm.ifscCode.$error.pattern"  style="color: red;">
                  Enter Correct IFSC Code
                </div>
              </li>

              <li>
                <div class="form-group">
                  <label class="required">Branch</label>
                  <input type="text" class="form-control" m-name name="branchName" placeholder="Branch" maxlength="30" required ng-model="bank.branchName"/>
                </div> 
                <div class="error" ng-show="pensionerForm.branchName.$error.required && pensionerForm.branchName.$touched"  style="color: red;">
                  Enter Branch
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="required">City</label>
                  <input type="text" class="form-control" m-name maxlength="30" placeholder="Branch City" required name="branchCity" ng-model="bank.branchCity"/>
                </div> 
                <div class="error" ng-show="pensionerForm.branchCity.$error.required && pensionerForm.branchCity.$touched"  style="color: red;">
                  Enter Branch City
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="required">State</label>
                  <input type="text" class="form-control" m-name maxlength="20" placeholder="Branch State" required name="state" ng-model="bank.state"/>
                </div> 
                <div class="error" ng-show="pensionerForm.state.$error.required && pensionerForm.state.$touched"  style="color: red;">
                  Enter Branch State
                </div>
              </li>
               
                </ul>
             </div>


             <div class="formsec" style="background: #dadbf7;">
            <h4>Pay Details</h4>
            <ul class="formshow list3">
         
          <li>
            <div class="form-group">
              <label class="required">Date From</label>
              <input type="text" class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required name="dateFrom" ng-model="paydetail.dateFrom" ng-change="dateCompare(form.dateOfBirth,paydetail.dateFrom,'dateFrom')"/>
            </div>
            <div class="error" ng-show="pensionerForm.dateFrom.$error.required && pensionerForm.dateFrom.$touched"  style="color: red;">
              Enter Date From
            </div> 
            <div class="error" ng-show="dateFromflg"  style="color: red;">
              Date From is greater than DOB
            </div>
          </li>
          <!-- <li>
            <div class="form-group">
              <label>Date To</label>
              <input type="text" class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required="" ng-model="paydetail.dateTo"/>
            </div> 
          </li> -->

          <li>
            <div class="form-group">
              <label class="required">Basic pension</label>
              <input type="text" class="form-control" placeholder="Basic pension" m-num-only maxlength="10" required name="pensionBasic" ng-model="paydetail.pensionBasic"/>
            </div> 
            <div class="error" ng-show="pensionerForm.pensionBasic.$error.required && pensionerForm.pensionBasic.$touched"  style="color: red;">
              Enter Basic pension
            </div> 
          </li>
          <li>
            <div class="form-group">
              <label>Medical Allowance</label>
              <input type="text" class="form-control" placeholder="Medical Allowance" m-num-only maxlength="7" name="medicalAllowance" ng-model="paydetail.medicalAllowance"/>
            </div> 
            <!-- <div class="error" ng-show="pensionerForm.medicalAllowance.$error.required && pensionerForm.medicalAllowance.$touched"  style="color: red;">
              Enter Medical Allowance
            </div>  -->
          </li>
          <li>
            <div class="form-group">
              <label>HRA</label>
              <input type="text" class="form-control" placeholder="HRA" maxlength="7" m-num-only name="hra" ng-model="paydetail.hra"/>
            </div> 
            <!-- <div class="error" ng-show="pensionerForm.hra.$error.required && pensionerForm.hra.$touched"  style="color: red;">
              Enter HRA
            </div>  -->
          </li>
          <li>
            <div class="form-group">
              <label>Other Allowance</label>
              <input type="text" class="form-control" placeholder="Others Allowance" maxlength="7" m-num-only name="othersAllowance" ng-model="paydetail.othersAllowance"/>
            </div> 
            <!-- <div class="error" ng-show="pensionerForm.hra.$error.required && pensionerForm.hra.$touched"  style="color: red;">
              Enter HRA
            </div>  -->
          </li>
          <li>
            <div class="form-group">
              <label>TDS</label>
              <input type="text" class="form-control" placeholder="TDS" maxlength="20" m-num-only name="tds" ng-model="paydetail.tds"/>
            </div> 
            <!-- <div class="error" ng-show="pensionerForm.hra.$error.required && pensionerForm.hra.$touched"  style="color: red;">
              Enter HRA
            </div>  -->
          </li>
      </ul> 
  </div>

          <div class="formsec" style="background: #dadbf7;">
            <h4>Other Info</h4>
            <ul class="formshow list3">
              <li>
                <div class="form-group">
                  <label class="required">Is He/She Working Under Ranchi University?</label>
                  <select class="form-control" name="workingStatus" required ng-model="form.workingStatus">
                    <option value="" disabled selected >Select Working Or Not</option>
                    <option value="Y" >Yes</option>
                    <option value="N" >No</option>
                </select>
                </div> 
                <div class="error" ng-show="pensionerForm.workingStatus.$error.required && pensionerForm.workingStatus.$touched"  style="color: red;">
                  Select working Status
                </div> 
              </li>
              <li ng-if="form.workingStatus==='Y'">
                <div class="form-group">
                  <label class="required">College/Department/Remarks</label>
                  <input type="text" class="form-control" placeholder="College/Department/Remarks" required maxlength="200"  name="College/Department/Remarks" ng-model="form.workingClgDepRemark"/>
                </div> 
                <div class="error" ng-show="pensionerForm.College/Department/Remarks.$error.required && pensionerForm.College/Department/Remarks.$touched"  style="color: red;">
                  Enter College/Department/Remarks
                </div> 
              </li>
              <li ng-if="form.workingStatus==='Y'">
                <div class="form-group">
                  <label class="required">Post/Remarks</label>
                  <input type="text" class="form-control" placeholder="Post/Remarks" maxlength="200" required name="workingPostRemark" ng-model="form.workingPostRemark"/>
                </div> 
                <div class="error" ng-show="pensionerForm.workingPostRemark.$error.required && pensionerForm.workingPostRemark.$touched"  style="color: red;">
                  Enter Post/Remarks
                </div> 
              </li>

              <li>
                <div class="form-group">
                  <label  >Pensioner Status Code</label>
                  <select class="form-control" name="pensionerStatusCode" required ng-model="form2.pensionerStatusCode" ng-options="x.pensionerStatusCode as x.dscr for x in pensionerStatus">
                    <option value="" disabled selected >Select Pensioner Status Code</option>
                </select>
                </div> 
                <div class="error" ng-show="pensionerForm.pensionerStatusCode.$error.required && pensionerForm.pensionerStatusCode.$touched"  style="color: red;">
                  Select Pensioner Status Code
                </div> 
              </li>
              <li ng-if="form2.pensionerStatusCode===0">
                <div class="form-group">
                  <label class="required">Date Of death</label>
                  <input type="text" class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required name="dateOfDeath" ng-model="form.dateOfDeath" ng-change="dateCompare(form2.dateOfBirth,form2.dateOfDeath,'dateOfDeath')"/>
                </div> 
                <div class="error" ng-show="pensionerForm.dateOfDeath.$error.required && pensionerForm.dateOfDeath.$touched && form2.pensionerStatusCode==0"  style="color: red;">
                  Select Date Of death
                </div> 
                <div class="error" ng-show="dateOfDeathflg"  style="color: red;">
                  Date Of death is greater than DOB.
                </div>
              </li>

      </ul> 
  </div>
  <!-- <div class="text-center"> <button type="button" class="btn bluebtn"  ng-click="save()">Submit</button></div> -->

  <div class="text-center"> <button type="button" class="btn bluebtn" ng-disabled="pensionerForm.$invalid" ng-click="save()">Submit</button></div>
</form>
   </div>

   
   <div class="loaderbg">
    <div class="loading">
      Loading
    <span class="loading-dots">.</span>
    <span class="loading-dots">.</span>
    <span class="loading-dots">.</span>
  </div>
  </div>
 