<div  ng-controller="lifeCertificateList">
  <div class="titles" data-aos="fade-up" data-aos-duration="1000">List of Life Certificate</div> 
                 <style>
                    .profileimg{ width: 34px; height: 34px;background: #fff; border-radius:4px; overflow: hidden;}
                    .profileimg img{width: 100%; height: 100%; object-fit: contain;}
                    .image-container img {  width: 100px;  height: 100px;  object-fit: cover; }
                    .tablesec .table>tbody>tr>td { vertical-align: middle;  }
                    </style>

 <div class="tabletop fcs">
 
        
         <!-- <div class="searchfield searchbox" ng-if="searchCriteria && searchCriteria!='All'"><input class="form-control" type="text" value="" placeholder="Enter {{srchCriteria}}" ng-style="{'width': valuew + 'px'}" ng-model="frm.searchCriteriaVal"/> 
          <button type="button" ng-click="searchPensionerDetails(searchCriteria,frm.searchCriteriaVal);"><i class="fa fa-search"></i>< width: 240px;/button></div> -->
            
            <div class="flexbox spacebox"> 
              <!-- <div class="flexbox" style="align-items: center;"><lable style="min-width: 70px;font-weight: 500;">View Limit</lable><select class="form-control"  ng-model="itemsPerPage" ng-change="updateItemsPerPage()">
               <option value="" selected>Select Page</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select></div> -->
        <div class="searchfield">
          <select class="form-control" ng-model="frm.searchCriteria" ng-options="search1.shortName as search1.displayName for search1 in masterdata | filter: { type: 'life_srch_criteria' }| orderBy:'displayName'"  ng-change="checkCharacterLengthInPixels(frm.searchCriteria)">
            <option value="" >Search By</option>
        </select>
        </div>
        <div class="searchfield searchbox" ng-if="frm.searchCriteria && frm.searchCriteria!='All'"><input class="form-control" type="text" value="" placeholder="Enter {{frm.srchCriteria}}" style="width: 240px; " ng-model="frm.searchCriteriaVal"/> 
          <button type="button" ng-click="searchLifeCertificate(frm.searchCriteria,frm.searchCriteriaVal);"><i class="fa fa-search"></i></button></div>
          </div>
   
        <div class="flexbox spacebox"> 
              <div>
                   <button class="btn pensionerbtn"  ng-click="handleLink('life-certificate')" style="background: #f1d8a0;">+ ADD Life Certificate</button>
              </div> 

              <!-- <div>
                 <button class="btn bluebtn" data-toggle="modal" data-target="#modalcompanydoc" data-backdrop="static" data-keyboard="false" ng-click="exportToExcel('list')"><i class="fa fa-download"></i> Download</button>
              </div> -->
        </div>
      </div>

      <div class="text-center" ng-show="pageFlag"> 
    
        <div data-pagination="" data-num-pages="numOfPages()" data-current-page="curPage"
        data-max-size="maxSize" data-boundary-links="true"> </div>
        </div>
<div class="tablesec scrollbar scrollbarPaddingr scrollbar-primary">

        <table class="table table-striped" id="exportTable">
          <thead>
            <tr>

              <th width="100">Pensioner Id </th>
              <th width="100">Pensioner Name </th>
              <th width="100">FinYear</th>
              <th width="100">Date Of Submission </th>
              <th>Certificate No</th>
              <th>Certificate Date</th>
              <th>Certificate Status</th>
              <th>Life Certificate</th>
              <!-- <th width="80">Actions</th> -->
              <th width="50">Verification</th>
          </tr>
          </thead>

          <tbody>
            <tr ng-repeat="n in lifeCertificateData">
                <td ng-bind="n.pensionerId"></td>
                <td ng-bind="n.pensionerName"> </td>
                <td ng-bind="n.finYear"> </td>
                <td ng-bind="n.dateOfSubmission"> </td>
                <td ng-bind="n.certificateNo"> </td>
                <td ng-bind="n.certificateDate"></td>
                <td>{{n.stopRemarks!='NEW'?n.finYear==null?'NOT SUBMITTED':n.verifiedStatus=='VERIFIED'?'VERIFIED':'NOT VERIFIED':'New Data'}}</td>
                <td>
                  <span class="image-container"><img ng-src="{{ n.imageFileName !== 'null' && n.imageFileName ? 'https://ru-pension-attachment.s3.ap-south-1.amazonaws.com/life_certificate/' + n.imageFileName : 'images/cert.png' }}" alt="no image available" /></span> </td>
                
                <!-- <td>ng-src="{{ profile_image!='null' ? 'https://ru-pension-attachment.s3.ap-south-1.amazonaws.com/profile_images/' + profile_image : 'images/users.jpg' }}" 
                    <button class="btn editbtn" data-toggle="modal" data-placement="top"
                        title="Edit" ng-click="edit(n);payDataById(n.pensionerId);"><i class="fa fa-pencil"></i></button>
                            <button class="btn deletebtn" data-toggle="modal" data-target="#deleteModal" data-placement="top" ng-click="setDeleteData(n)"
                            title="Delete" > <i class="fa fa-trash"></i>  </button>
                </td> -->

                <td>
                  <div class="text-center">
                    <button class="btn bluebtn" ng-click="verifyLifeModal(n);" ng-disabled="n.finYear==null" style="color: aliceblue;padding: 3px;width:60px; font-size: 13px;margin-bottom: 2px;">
                      Click</button>
                  </div>
                     
              </td>
           </tr>
           
          </tbody>
        </table>

      </div>
      <!-- <div class="text-center" ng-show="pageFlag"> 
    
        <div  data-pagination="" data-num-pages="numOfPages()" data-current-page="curPage"
        data-max-size="maxSize" data-boundary-links="true"> </div>
        </div> -->

<!-- for excel only -->
      <div class="tablesec excelformate"  style="display: none;">
        <table class="table table-striped" id="exportTable">
          <thead>
            <tr >
              <!-- <th width="60">Photo</th> -->
              <th width="120">ID</th>
              <th>Sir Name</th>
              <th width="200">Name of Employee</th>
              <th width="200">Name of Pensioner</th>
              <th >Gender</th>
              <th class="text-center">DOB</th>
              <th class="text-center">Acconut No.</th>
              <th class="text-center">Account Effective From</th>
              <th class="text-center">Ifsc Code</th>
              <th class="text-center">Branch Name</th>
              <th class="text-center">Branch City</th>
              <th class="text-center">Branch State</th>
              <th class="text-center">Date of joining</th>
              <th class="text-center">Date of Superannuation</th>
              <th class="text-center">Date of death</th>
              <th class="text-center">Mobile No.</th>
              <th class="text-center">WhatsApp No.</th>
              <th class="text-center">Email</th>
              <th class="text-center">Aadhar No.</th>
              <th class="text-center">Pan Record</th>
              <th class="text-center">PAN No.</th>
              <th class="text-center">Department</th>
              <th class="text-center">Employee Type</th>
              <th class="text-center">Designation</th>
              <th class="text-center">College/Department</th>
              <th class="text-center">Basic</th>
              <th class="text-center">D.R.</th>
              <th class="text-center">M.A.</th>
              <th class="text-center">Gross Pension</th>
              <th class="text-center">HRA</th>
              <th class="text-center">Other Allowance</th>
              <th class="text-center">Total (After HRA Ded.)</th>             
              <th class="text-center">I. Tax</th>
              <th class="text-center">Total</th>
              <th class="text-center">Inserted Date</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="x in listOfPensionerExcel | orderBy:'-inserted_on'">
              <!-- <td><img src="images/users.jpg" alt="img" height="26" class="rounded" /></td> -->
              <td>{{x.id}}</td>
              <td>{{x.sir_name}}</td>
              <td>{{x.name_of_pensioner}}</td>
              <td>{{x.name_of_employee}}</td>
              <td class="text-center">{{x.sex}}</td>
              <td class="text-center">{{x.date_of_birth}}</td>
              <td class="text-center">{{x.account_no}}</td>
              <td class="text-center">{{x.account_effective_from}}</td>
              <td class="text-center">{{x.ifsc_code}}</td>
              <td class="text-center">{{x.branch_name}}</td>
              <td class="text-center">{{x.branch_city}}</td>
              <td class="text-center">{{x.state}}</td>
              <td class="text-center">{{x.date_of_joining}}</td>
              <td class="text-center">{{x.date_of_relieving}}</td>
              <td class="text-center">{{x.date_of_death}}</td>
              <td class="text-center">{{x.mobile_no}}</td>
              <td class="text-center">{{x.whats_app_mobile_no}}</td>
              <td class="text-center">{{x.email_id}}</td>
              <td class="text-center">{{x.adhar_no}}</td>
              <td class="text-center">{{x.pan_record}}</td>
              <td class="text-center">{{x.pan_no}}</td>
              <td class="text-center">{{x.department}}</td>
              <td class="text-center">{{x.ppo_no}}</td>              
              <td class="text-center">{{x.pay_commission_code}}</td>
              <td class="text-center">{{x.post}}</td>
              <td class="text-center">{{x.college}}</td>
              <td class="text-center">{{x.basic}}</td>
              <td class="text-center">{{x.date_from}}</td>
              <td class="text-center">{{x.ma}}</td>
              <td class="text-center">{{x.hra}}</td>
              <td class="text-center">{{x.others_allowance}}</td>
              <td class="text-center">{{x.bank_name}}</td>
              <td class="text-center">{{x.pensioner_status_code}}</td>
              <td class="text-center">{{x.pensioner_relation}}</td>
              <td class="text-center">{{x.inserted_on}}</td>
            </tr>
           
          </tbody>
        </table>
      </div>
    


    
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="closemodal()">&times;</button>
          <!-- <h4 class="modal-title text-center">Pensioner Info</h4> -->
          <h4 class="modal-title">Pensioner Info</h4>
        </div>
        <div class="modal-body">
          <div class="formsec nobg">
            
            <ul class="formshow list2">
                <li>
                    <div class="textview">
                      <strong >ID</strong> <span>{{showdetails.id}}</span>
                    </div>
                </li>
                <li>
                  <div class="textview">
                    <strong >Name of Employee</strong> <span>{{showdetails.sir_name}} {{showdetails.name_of_employee}}</span>
                  </div>
              </li>
                <li>
                  <div class="textview">
                    <strong >Name of Pensioner</strong> <span>{{showdetails.name_of_pensioner}}</span>
                  </div>
              </li>

            <li>
              <div class="textview">
                <strong >Gender</strong> <span>{{showdetails.sex}}</span>
              </div>
          </li>
          <li>
            <div class="textview">
              <strong >Date of Birth</strong> <span>{{formatDateToPreviousType(showdetails.date_of_birth)}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Mobile No.</strong> <span>{{showdetails.mobile_no}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >WhatsApp No.</strong> <span>{{showdetails.whats_app_mobile_no}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Email</strong> <span>{{showdetails.email_id}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Employee Type</strong> <span>{{showdetails.post}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Designation</strong> <span>{{showdetails.post}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >College/Department</strong> <span>{{showdetails.college}}</span>
            </div>
          </li>

          <li>
            <div class="textview">
              <strong >Date of Joining</strong> <span>{{formatDateToPreviousType(showdetails.date_of_joining)}}</span>
            </div>
          </li>

          <li>
            <div class="textview">
              <strong >Date Of Superannuation</strong> <span>{{formatDateToPreviousType(showdetails.date_of_relieving)}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Bank Name</strong> <span>{{formatDateToPreviousType(showdetails.bank_name)}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Account No.</strong> <span>{{showdetails.account_no}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >IFSC Code</strong> <span>{{showdetails.ifsc_code}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Branch Name</strong> <span>{{showdetails.branch_name}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Branch City</strong> <span>{{showdetails.branch_city}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >State</strong> <span>{{showdetails.state}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Account Effective From</strong> <span>{{formatDateToPreviousType(showdetails.account_effective_from)}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Aadhar No.</strong> <span>{{showdetails.adhar_no}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Pan Record</strong> <span>{{showdetails.pan_record}}</span>
            </div>
          </li>
          <li ng-if="showdetails.pan_record=='Y'">
            <div class="textview">
              <strong >PAN No.</strong> <span>{{showdetails.pan_no}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >PPO No.</strong> <span>{{showdetails.ppo_no}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Pay Commission Code</strong> <span>{{showdetails.pay_commission_code}}</span>
            </div>
          </li>

          <li>
            <div class="textview">
              <strong >Basic</strong> <span>{{showdetails.basic}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Basic Started From</strong> <span>{{formatDateToPreviousType(showdetails.date_from)}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Medical Allowance</strong> <span>{{showdetails.ma}}</span>
            </div>
          </li>
         
          <li>
            <div class="textview">
              <strong >HRA</strong> <span>{{showdetails.hra}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Other Allowance</strong> <span>{{showdetails.others_allowance}}</span>
            </div>
          </li>
          <li>
            <div class="textview" ng-if="showdetails.date_of_death">
              <strong >Date of death</strong> <span>{{showdetails.date_of_death}}</span>
            </div>
          </li>
               
        </ul>
            </div>
            <div class="  text-center">
              <button type="button" class="btn bluebtn" data-dismiss="modal" ng-click="closemodal()">Close</button>
            </div>
        </div>
        
      </div>
    </div>
  </div>



  <div class="modal fade" id="editpensioner" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="closemodal()">&times;</button>
          <!-- <h4 class="modal-title text-center">Pensioner Info</h4> -->
          <h4 class="modal-title text-center">Edit Pensioner Info</h4>
        </div>
        <div class="modal-body">
          <div class="formsec nobg">
              
    <div>
      <div style="color:red; text-align: center;" ng-show="flgmain"> <span>*</span> Field is Compulsory</div>  
      <form name="pensionerForm">
        <div class="formsec">
          <h4>Pensioner Info</h4>
          <ul class="formshow list3">
              <!-- <li>
                  <div class="form-group">
                    <label class="required">Pensioner ID</label>
                    <input type="text" class="form-control" placeholder="Employee Number" required="" ng-model="form.pensionerId"/>
                  </div>
              </li> -->
              <li>
                  <div class="form-group">
                    <label class="required">Name of Employee</label>
                    <div class="disflex">
                    <select class="form-control" name="prefix" ng-required="true"  style="width: 90px;" ng-model="form.prefix" ng-options="prefix.shortName as prefix.displayName for prefix in masterdata | filter: { type: 'prefix' } | orderBy:'displayName'" ng-change="fillAutomatic(form.prefix,'prefix')">
                    <option value="" disabled selected>Prefix</option>
                    </select>
                    <input type="text" class="form-control" m-name name="employeeName" required placeholder="Name" ng-model="form.employeeName" maxlength="60"/>
                    </div>
                  </div>
                  <div class="disflex">
                    <div class="error" ng-show="pensionerForm.prefix.$error.required && pensionerForm.prefix.$touched"  style="color: red; width: 90px;">
                      Select Prefix
                    </div>
                    <div class="error" ng-show="pensionerForm.employeeName.$error.required && pensionerForm.employeeName.$touched"  style="color: red; width: calc(100% - 90px);">
                      Enter Employee Name
                    </div>
                  </div>
                  
              </li>
              <li>
                <div class="form-group">
                  <label class="required">Employee Type</label>
                  <select class="form-control" ng-model="form.pensionerTypeCode" required name="pensionerTypeCode"  title="Select Employee Type" ng-options="pensionerType.pensionerTypeCode as pensionerType.dscr for pensionerType in pensionerType | orderBy:'pensionerTypeCode'"><!--ng-change="fetchgrade(form.pensionerTypeCode)"-->
                    <option value="" readonly selected>Select Employee Type</option>
                </select>
                </div> 
                <div class="error" ng-show="pensionerForm.pensionerTypeCode.$error.required && pensionerForm.pensionerTypeCode.$touched"  style="color: red;">
                  Select Employee Type
                </div>
            </li>
            <li>
              <div class="form-group">
                <label class="required">Pay Commission Code</label>
                <select class="form-control" ng-model="form.payCommissionCode" required name="payCommissionCode"  title="Select Pay Commission Code" ng-options="x.payCommissionCode as x.dscr for x in payCommisions | orderBy:'dscr'">
                  <option value="" disabled selected>Select Pay Commission Code</option>
                  </select>
              </div>
              <div class="error" ng-show="pensionerForm.payCommissionCode.$error.required && pensionerForm.payCommissionCode.$touched"  style="color: red;">
                Select Pay Commission Code
              </div> 
            </li>
              <li>
                <div class="form-group">
                  <label class="required">Gender </label>
                  <select class="form-control" ng-model="form.sex" required name="sex" title="Select Gender" ng-options="sex.shortName as sex.displayName for sex in masterdata | filter: { type: 'sex' } | orderBy:'displayName'">
                  <option value="" disabled selected>Select Gender</option>
                  </select>
                </div>
                <div class="error" ng-show="pensionerForm.sex.$error.required && pensionerForm.sex.$touched"  style="color: red;">
                  Select Gender
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="required">Date of Birth</label>
                  <input type="text" class="datepicker form-control" autocomplete="off"required name="dateOfBirth" placeholder="DD-MM-YYYY" new-datepicker ng-model="form.dateOfBirth" ng-change="isSeniorCitizen(form.dateOfBirth)"/>
                </div> 
                <div class="error" ng-show="pensionerForm.dateOfBirth.$error.required && pensionerForm.dateOfBirth.$touched"  style="color: red;">
                  Enter Date of Birth
                </div>
                <div class="error" ng-show="dobflg"  style="color: red;">
                  Your Date of Birth is not eligible for pension
                </div>
            </li>
              <!-- <li>
                  <div class="form-group">
                    <label>RU Sl No.</label>
                    <input type="text" class="form-control" placeholder="Ru slno" required="" ng-model="form.ruSlno"/>
                  </div>
              </li> -->
              <li>
                <div class="form-group">
                  <label>Father's Name / Husband's Name</label>
                  <input type="text" m-name class="form-control" maxlength="60" placeholder="Father's Name / Husband's Name" ng-model="form.fatherName" name="fatherName"/>
                 </div>
            </li>
            <li>
              <div class="form-group">
                <label>Religion</label>
                <select class="form-control" ng-model="form.religionName" ng-options="x.religionName as x.religionName for x in religion">
                  <option value="" disabled selected>Select Religion</option>
                  </select>
               </div>
          </li>
          <li>
            <div class="form-group">
              <label class="required">Pensioner Relation</label>
                <select class="form-control" ng-model="form.pensionerRelation" name="pensionerRelation" required title="Select Pensioner Relation" ng-options="x.pensionerRelation as x.pensionerRelation for x in relationship" ng-change="fillAutomatic(form.pensionerRelation,'relation')"> 
                <option value="" disabled selected>Select Pensioner Relation</option>
                </select>
            </div>
            <div class="error" ng-show="pensionerForm.pensionerRelation.$error.required  && pensionerForm.pensionerRelation.$touched"  style="color: red;">
              Select Pensioner Relation
            </div>  
          </li>
            <li>
              <div class="form-group">
                <label class="required">Pensioner Name</label>
                <input type="text" class="form-control" m-name maxlength="60" placeholder="Pensioner Name" name="pensionerName" required ng-model="form.pensionerName"/>
              </div>
              <div class="error" ng-show="pensionerForm.pensionerName.$error.required && pensionerForm.pensionerName.$touched"  style="color: red;">
                Enter Pensioner Name
              </div> 
            </li>
    
            <li>
              <div class="form-group">
                <label>Rate Of Pension(%)</label>
                <input type="text" class="form-control" placeholder="Rate Of Pension" required="" ng-model="form.rateOfPension" m-num-only maxlength="3"/>
              </div> 
            </li>
             
              </ul>
          </div>
    
    
    
           <div class="formsec" style="background: #f9f0e1;">
            <h4>Affiliation Info</h4>
            <ul class="formshow list3">
              <!-- <li>
                <div class="form-group">
                  <label>University Code</label>
                  <input type="text" class="form-control" placeholder="University Code" required="" ng-model="form.universityCode"/>
                </div> 
            </li> -->
          <li>
            <div class="form-group">
              <label class="required">College/University</label>
                <select class="form-control" ng-model="form.collegeCode" required name="collegeCode" title="Select College/University" ng-options="x.collegeShortName as x.dscr for x in colleges" ng-change="fetchdepartment(form.collegeCode);">
                <option value="" disabled selected>Select College</option>
            </select>
            </div>
            <div class="error" ng-show="pensionerForm.collegeCode.$error.required && pensionerForm.collegeCode.$touched"  style="color: red;">
              Select College/University
            </div> 
        </li>
            <li>
              <div class="form-group">
                <label class="required">Department</label>
                <select class="form-control" ng-model="form.departmentCode" required name="departmentCode" title="Select Department" ng-options="x.deptShortName + '!!' + x.departmentIds  as x.dscr for x in departmentlist">
                  <option value="" disabled selected>Select Department</option>
              </select>
              </div> 
              <div class="error" ng-show="pensionerForm.departmentCode.$error.required && pensionerForm.departmentCode.$touched && form.collegeCode=='1001'"  style="color: red;">
                Select Department
              </div>
          </li>
            <li>
              <div class="form-group">
                <label class="required">Level</label>
                <select class="form-control" ng-model="form.gradeCode" required name="gradeCode" title="Select Level" ng-options="grade.gradeCode as grade.dscr for grade in pensionerGrade | filter: {pensionerTypeCode: form.pensionerTypeCode}  | orderBy:'gradeCode'" ><!--ng-change="fetchdesigation(form.gradeCode);"-->
                  <option value="" disabled selected>Select Level</option>
              </select>
              </div> 
              <div class="error" ng-show="pensionerForm.gradeCode.$error.required && pensionerForm.gradeCode.$touched"  style="color: red;">
                Select Level
              </div>
          </li>
    
            <li>
              <div class="form-group">
                <label class="required">Designation</label>
                <select class="form-control" ng-model="form.desigShortName" required name="desigShortName" title="Select Designation" ng-options="designation.desigShortName + '!!' + designation.designationId as designation.dscr for designation in pensionerDesignation | filter: { gradeCode: form.gradeCode } ">
                  <option value="" disabled selected>Select Designation</option>
              </select>
              </div> 
              <div class="error" ng-show="pensionerForm.desigShortName.$error.required && pensionerForm.desigShortName.$touched"  style="color: red;">
                Select Designation
              </div>
          </li>
            <li>
            <div class="form-group">
              <label>Subject</label>
              <select class="form-control" ng-model="form.subjectCode" required title="Select Subject" ng-options="subjectCode.subjectCode as subjectCode.dscr for subjectCode in subjects">
                <option  value="" disabled selected>Select Subject</option>
            </select>
            </div> 
          </li>
          <li>
            <div class="form-group">
              <label>Pensioner Univ Id</label>
              <input type="text" class="form-control" maxlength="20"  placeholder="Pensioner Univ Id" ng-model="form.pensionerUnivId"/>
            </div> 
          </li>
                </ul>
             </div>
    
    
             
           <div class="formsec" style="background: #eae7e7">
            <h4>Appointment Info</h4>
            <ul class="formshow list3">
              <li>
                <div class="form-group">
                  <label class="required">Date of Last Appointment</label>
                  <input type="text" class="datepicker form-control" autocomplete="off"  placeholder="DD-MM-YYYY" datepicker required name="dateOfLastAppointment" ng-model="form.dateOfLastAppointment" ng-change="dateCompare(form.dateOfBirth,form.dateOfLastAppointment,'LA')"/>
                </div> 
                <div class="error" ng-show="pensionerForm.dateOfLastAppointment.$error.required && pensionerForm.dateOfLastAppointment.$touched"  style="color: red;">
                  Select Date of Last Appointment
                </div>
                <div class="error" ng-show="la"  style="color: red;">
                  Date of Last Appointment is greater than DOB 
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label>Date of Regularisation</label>
                  <input type="text" class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker ng-model="form.dateOfRegularisation" ng-change="dateCompare(form.dateOfLastAppointment,form.dateOfRegularisation,'Rgl')"/>
                </div> 
                <div class="error" ng-show="rgl"  style="color: red;">
                  Date of Regularisation is greater than Date of Last Appointment
                </div>
              </li>
    
              <li>
                <div class="form-group">
                  <label class="required">Date of Superannuation</label>
                  <input type="text" class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required name="dateOfSeparation" ng-model="form.dateOfSeparation"  ng-change="dateCompare(form.dateOfRegularisation,form.dateOfSeparation,'Spr')"/>
                </div> 
                <div class="error" ng-show="pensionerForm.dateOfSeparation.$error.required && pensionerForm.dateOfSeparation.$touched"  style="color: red;">
                  Select Date of Separation
                </div>
                <div class="error" ng-show="spr"  style="color: red;">
                  Date of Separation is greater than Date of Regularisation
                </div>
              </li>
    
                </ul>
             </div>
    
    
    
    
             <div class="formsec">
              <h4>Personal Info</h4>
              <ul class="formshow list3">
    
                <li>
                  <div class="form-group">
                    <label class="required">PPO No.</label>
                    <input type="text" class="form-control"  minlength="12" maxlength="12" required placeholder="PPO No" name="ppoNo" ng-model="form.ppoNo" m-num-only ng-blur="checkDuplicate('ppoNo',form.ppoNo)" no-special-characters/>
                  </div> 
                  <div class="error" ng-show="pensionerForm.ppoNo.$error.minlength"  style="color: red;">
                    Enter correct PPO No.
                  </div>
                  <div class="error" ng-show="ppoNodup"  style="color: red;">
                    PPO No. already exist
                  </div>
                  <!-- <div class="error" ng-show="pensionerForm.ppoNo.$error.required && pensionerForm.ppoNo.$touched"  style="color: red;">
                    Enter PPO No.
                  </div> -->
                </li>
                <li>
                  <div class="form-group">
                    <label class="required">Aadhaar No.</label>
                    <input type="text" class="form-control" maxlength="12" maxlength="12" placeholder="Aadhaar No" required name="aadhaar" ng-model="form.aadhaar" m-num-only ng-blur="chkAadhar(); checkDuplicate('aadhaar',form.aadhaar)" /><!--aadhar-validator-->
                  </div> 
                  <div class="error" ng-show="aadharflag"  style="color: red;">
                    Enter correct Aadhaar No.
                  </div>
                  <div class="error" ng-show="aadhaardup"  style="color: red;">
                    Aadhaar No. already exist
                  </div>
                  <!-- <div class="error" ng-show="pensionerForm.aadhaar.$error.minlength "  style="color: red;">
                    Enter correct Aadhaar No.
                  </div> -->
                  <!-- <div class="error" ng-show="(pensionerForm.aadhaar.$error.required && pensionerForm.aadhaar.$touched) || (form.aadhaar === undefined && pensionerForm.aadhaar.$touched)"  style="color: red;">
                    Enter Aadhaar No.
                  </div> -->
                </li>
                <li>
                  <div class="form-group">
                    <label>PAN Record</label>
                    <select class="form-control" ng-model="form.panRecord" data-live-search="true"  title="Select" ng-options="panRecord.shortName as panRecord.displayName for panRecord in masterdata | filter: { type: 'pan_record' } | orderBy:'displayName'" ng-change="fillAutomatic(form.panRecord,'pan')">
                      <option value="" readonly selected >Select</option>
                  </select>
                  </div> 
                </li>
                <li ng-if="form.panRecord==='Y'">
                  <div class="form-group">
                    <label>PAN No.</label>
                    <input type="text" class="form-control" m-capitalize maxlength="10" minlength="10"  pan-number placeholder="like:- ABCTY1234D" required="" name="pan" ng-model="form.pan" ng-blur="checkDuplicate('pan',form.pan)"/>
                  </div> 
                  <div class="error" ng-show="pensionerForm.pan.$error.panNumber" style="color: red;">
                    Please enter a valid PAN number (10 characters).
                  </div>
                  <div class="error" ng-show="pensionerForm.pan.$error.required && pensionerForm.pan.$touched && form.panRecord=='Y' || (form.panRecord===undefined && pensionerForm.panRecord.$touched)"  style="color: red;">
                    Enter PAN No.
                  </div>
                  <div class="error" ng-show="pandup"  style="color: red;">
                    PAN  No. already exist
                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <label class="required">Email Id</label>
                    <input type="text" class="form-control" placeholder="Email Id" name="emailId" required ng-model="form.emailId" ng-pattern="/^[a-zA-Z0-9._%+-]+@gmail\.com$/"
                    ng-blur="checkDuplicate('emailId',form.emailId)"/>
                  </div>
                  <div class="error" ng-show="pensionerForm.emailId.$error.required && pensionerForm.emailId.$touched" style="color: red;">
                    This field is required.
                  </div>
                  <div class="error" ng-show="pensionerForm.emailId.$error.pattern" style="color: red;">
                    Please enter a valid email address.
                  </div>
                  <div class="error" ng-show="emailIddup"  style="color: red;">
                    Email Id already exist.
                  </div>
              </li> 
    
                <li>
                  <div class="form-group">
                    <label class="required">Mobile No.</label>
                    <input type="text" class="form-control" maxlength="10" minlength="10" ng-pattern="/^[6-9]\d{9}$/" placeholder="Mobile No" required name="mobileNo" ng-model="form.mobileNo" m-num-only ng-blur="checkDuplicate('mobileNo',form.mobileNo)" ng-change="sameAsMobileNo=false"/>
                  </div> 
                  <div class="error" ng-show="pensionerForm.mobileNo.$error.pattern || pensionerForm.mobileNo.$error.minlength"  style="color: red;">
                    Mobile number should start with 6 to 9 and contains 10 digits mobile no.
                  </div>
                  <!-- <div class="error" ng-show="pensionerForm.mobileNo.$error.minlength"  style="color: red;">
                    Enter 10 digits mobile no.
                  </div> -->
                  <div class="error" ng-show="(pensionerForm.mobileNo.$error.required && pensionerForm.mobileNo.$touched) || (form.mobileNo===undefined && pensionerForm.mobileNo.$touched)"  style="color: red;">
                    Enter Mobile No.
                  </div>
                  <div class="error" ng-show="mobileNodup"  style="color: red;">
                    Mobile No. already exist
                  </div>
                </li>
                <style>
                  .sameaschk { display: flex; width: 142px; align-items: center; justify-content: space-between; font-weight: 500; float: right;}
                  .sameaschk input{margin: 0;}
                </style>
                <li>
                  <div class="form-group">
                    <label class="required">WhatsApp No.  </label> <label class="sameaschk"><input type="checkbox" ng-model="sameAsMobileNo" ng-change="sameasMobileNo(form.mobileNo)">Same as Mobile No.</label>
                    <input type="text" class="form-control" maxlength="10" minlength="10" ng-pattern="/^[6-9]\d{9}$/" placeholder="WhatsApp Mobile No" required name="whatsAppMobileNo" ng-model="form.whatsAppMobileNo" m-num-only ng-blur="checkDuplicate('whatsAppMobileNo',form.whatsAppMobileNo)"/>
                  </div> 
                  <div class="error" ng-show="pensionerForm.whatsAppMobileNo.$error.pattern || pensionerForm.whatsAppMobileNo.$error.minlength"  style="color: red;">
                    Mobile number should start with 6 to 9 and contains 10 digits mobile no.
                  </div>
                  <!-- <div class="error" ng-show="pensionerForm.mobileNo.$error.minlength"  style="color: red;">
                    Enter 10 digits mobile no.
                  </div> -->
                  <div class="error" ng-show="(pensionerForm.whatsAppMobileNo.$error.required && pensionerForm.whatsAppMobileNo.$touched) || (form.whatsAppMobileNo===undefined && pensionerForm.whatsAppMobileNo.$touched)"  style="color: red;">
                    Enter Mobile No.
                  </div>
                  <div class="error" ng-show="whatsAppMobileNodup"  style="color: red;">
                    Mobile No. already exist
                  </div>
                </li>
                 
                  </ul>
               </div>
               <div class="formsec" style="background: #ffe5ed;" ng-if="form.dateOfDeath===null && bank.bankCode!==null">
                <h4>Bank Account Info</h4>
                <ul class="formshow list3">
                  <li>
                    <div class="form-group">
                      <label class="required">Name of Bank</label>
                      <select class="form-control" disabled ng-model="bank.bankCode" name="bankCode" required ng-options="bank.bankCode as bank.bankName for bank in banklist">
                        <option value="" disabled selected >Select Bank</option>
                    </select>
                    </div> 
                    <div class="error" ng-show="pensionerForm.bankCode.$error.required && pensionerForm.bankCode.$touched"  style="color: red;">
                      Select Bank
                    </div>
                  </li>
                  <li>
                    <div class="form-group">
                      <label class="required">Date Effective from</label>
                      <input type="text" disabled class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required name="accountEffectiveFrom" ng-model="bank.accountEffectiveFrom" ng-change="dateCompare(form.dateOfBirth,bank.accountEffectiveFrom,'accountEffectiveFrom')"/>
                    </div> 
                    <div class="error" ng-show="pensionerForm.accountEffectiveFrom.$error.required && pensionerForm.accountEffectiveFrom.$touched"  style="color: red;">
                      Select Date Effective from
                    </div>
                    <div class="error" ng-show="accEfFrom"  style="color: red;">
                      Date Effective from is greater than DOB
                    </div>
                  </li>
                  <li>
                    <div class="form-group">
                      <label class="required">Account No.</label>
                      <input type="text" disabled class="form-control" m-num-only maxlength="20" placeholder="Account No" required name="accountNo" ng-model="bank.accountNo"/>
                    </div> 
                    <div class="error" ng-show="pensionerForm.accountNo.$error.required && pensionerForm.accountNo.$touched"  style="color: red;">
                      Enter Account No.
                    </div>
                  </li>
                  <li>
                    <div class="form-group">
                      <label class="required">IFSC Code</label>
                      <input type="text" disabled m-capitalize class="form-control" placeholder="IFSC Code" ng-pattern="/^[A-Z]{4}\d{7}$/" minlength="11" maxlength="11" required name="ifscCode" ng-model="bank.ifscCode" no-special-characters/>
                    </div> 
                    <div class="error" ng-show="pensionerForm.ifscCode.$error.required && pensionerForm.ifscCode.$touched"  style="color: red;">
                      Enter IFSC Code
                    </div>
                    <div class="error" ng-show="pensionerForm.ifscCode.$error.pattern"  style="color: red;">
                      Enter Correct IFSC Code
                    </div>
                  </li>
    
                  <li>
                    <div class="form-group">
                      <label>Branch</label>
                      <input type="text" disabled class="form-control" m-name placeholder="Branch" maxlength="30" required="" ng-model="bank.branchName"/>
                    </div> 
                  </li>
                  <li>
                    <div class="form-group">
                      <label class="required">City</label>
                      <input type="text" disabled class="form-control" m-name maxlength="30" placeholder="Branch City" required name="branchCity" ng-model="bank.branchCity"/>
                    </div> 
                    <div class="error" ng-show="pensionerForm.branchCity.$error.required && pensionerForm.branchCity.$touched"  style="color: red;">
                      Enter Branch City
                    </div>
                  </li>
                  <li>
                    <div class="form-group">
                      <label class="required">State</label>
                      <input type="text" disabled class="form-control" m-name maxlength="20" placeholder="Branch State" required name="state" ng-model="bank.state"/>
                    </div> 
                    <div class="error" ng-show="pensionerForm.state.$error.required && pensionerForm.state.$touched"  style="color: red;">
                      Enter Branch State
                    </div>
                  </li>
                   
                    </ul>
                 </div>
    
    
                 <div class="formsec" style="background: #dadbf7;" ng-if="form.dateOfDeath===null && paydetail.dateFrom!==null">
                <h4>Pay Details</h4>
                <ul class="formshow list3">
             
              <li>
                <div class="form-group">
                  <label class="required">Date From</label>
                  <input type="text" disabled class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required name="dateFrom" ng-model="paydetail.dateFrom" ng-change="dateCompare(form.dateOfBirth,paydetail.dateFrom,'dateFrom')"/>
                </div>
                <div class="error" ng-show="pensionerForm.dateFrom.$error.required && pensionerForm.dateFrom.$touched"  style="color: red;">
                  Enter Date From
                </div> 
                <div class="error" ng-show="dateFromflg"  style="color: red;">
                  Date From is greater than DOB
                </div>
              </li>
              <!-- <li>
                <div class="form-group">
                  <label>Date To</label>
                  <input type="text" class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required="" ng-model="paydetail.dateTo"/>
                </div> 
              </li> -->
    
              <li>
                <div class="form-group">
                  <label class="required">Basic pension</label>
                  <input type="text" disabled class="form-control" disabled placeholder="Basic pension" m-num-only maxlength="10" required name="pensionBasic" ng-model="paydetail.pensionBasic"/>
                </div> 
                <div class="error" ng-show="pensionerForm.pensionBasic.$error.required && pensionerForm.pensionBasic.$touched"  style="color: red;">
                  Enter Basic pension
                </div> 
              </li>
              <li>
                <div class="form-group">
                  <label class="required">Medical Allowance</label>
                  <input type="text" disabled class="form-control" placeholder="Medical Allowance" m-num-only maxlength="7" required name="medicalAllowance" ng-model="paydetail.medicalAllowance"/>
                </div> 
                <div class="error" ng-show="pensionerForm.medicalAllowance.$error.required && pensionerForm.medicalAllowance.$touched"  style="color: red;">
                  Enter Medical Allowance
                </div> 
              </li>
              <li>
                <div class="form-group">
                  <label>HRA</label>
                  <input type="text" class="form-control" disabled placeholder="HRA" maxlength="7" m-num-only name="hra" ng-model="paydetail.hra"/>
                </div> 
                <!-- <div class="error" ng-show="pensionerForm.hra.$error.required && pensionerForm.hra.$touched"  style="color: red;">
                  Enter HRA
                </div>  -->
              </li>
              <li>
                <div class="form-group">
                  <label>Other Allowance</label>
                  <input type="text" class="form-control" disabled placeholder="Others Allowance" maxlength="7" m-num-only name="othersAllowance" ng-model="paydetail.othersAllowance"/>
                </div> 
                <!-- <div class="error" ng-show="pensionerForm.hra.$error.required && pensionerForm.hra.$touched"  style="color: red;">
                  Enter HRA
                </div>  -->
              </li>
              <li>
                <div class="form-group">
                  <label>TDS</label>
                  <input type="text" class="form-control" placeholder="TDS" maxlength="20" m-num-only name="tds" ng-model="paydetail.tds"/>
                </div> 
                <!-- <div class="error" ng-show="pensionerForm.hra.$error.required && pensionerForm.hra.$touched"  style="color: red;">
                  Enter HRA
                </div>  -->
              </li>
          </ul> 
      </div>

      <div class="formsec" style="background: #f9f0e1;">
        <h4>Address</h4>
        <ul class="formshow list3">
        <li>
          <div class="form-group">
            <label class="required">Pin</label>
            <input type="text" class="form-control" placeholder="Pin" maxlength="6" name="pin" required ng-model="form.pin" ng-blur="address(form.pin)" m-num-only/>
          </div> 
          <div class="error" ng-show="pinflag"  style="color: red;">
            Enter correct pin
          </div> 
      </li>
      <li>
        <div class="form-group">
          <label class="required">Address</label>
          <input type="text" class="form-control" placeholder="Address" name="addr1" required ng-model="form.addr1"/>
        </div> 
        <div class="error" ng-show="pensionerForm.addr1.$error.required && pensionerForm.addr1.$touched"  style="color: red;">
          Enter Address
        </div>
    </li>
      <li>
        <div class="form-group">
          <label class="required">Post office</label>
        <select class="form-control" ng-model="form.addr2" required name="addr2" title="Select Post Office">
          <option value="" readonly selected>Post Office</option>
          <option ng-repeat="post in postoffice" value="{{post.Name}}">{{post.Name}}</option>
        </select>
        </div> 
        <div class="error" ng-show="pensionerForm.addr2.$error.required && pensionerForm.addr2.$touched"  style="color: red;">
          Select Post office
        </div>
    </li>
        <li>
          <div class="form-group">
            <label class="required">City</label>
            <input type="text" class="form-control" required  m-name placeholder="City" name="city" ng-required="true" ng-model="form.city"/>
          </div> 
          <div class="error" ng-show="pensionerForm.city.$error.required && pensionerForm.city.$touched"  style="color: red;">
            Enter City
          </div>
      </li>
      <li>
        <div class="form-group">
          <label class="required">State</label>
          <input type="text" class="form-control" placeholder="State" m-name name="state1" required ng-model="form.state"/>
        </div> 
        <div class="error" ng-show="pensionerForm.state1.$error.required && pensionerForm.state1.$touched"  style="color: red;">
          Enter State
        </div>
    </li>
    
            </ul>
         </div>
    
              <div class="formsec" style="background: #dadbf7;">
                <h4>Other Info</h4>
                <ul class="formshow list3">
                  <li>
                    <div class="form-group">
                      <label class="required">Pensioner Status Code</label>
                      <select class="form-control" name="pensionerStatusCode" required ng-model="form.pensionerStatusCode" ng-disabled="form.dateOfDeath!=null" ng-options="x.pensionerStatusCode as x.dscr for x in pensionerStatus">
                        <option value="" disabled selected >Select Pensioner Status Code</option>
                    </select>
                    </div> 
                    <div class="error" ng-show="pensionerForm.pensionerStatusCode.$error.required && pensionerForm.pensionerStatusCode.$touched"  style="color: red;">
                      Select Pensioner Status Code
                    </div> 
                  </li>
                  <li ng-if="form.pensionerStatusCode===0">
                    <div class="form-group">
                      <label class="required">Date Of death</label>
                      <input type="text" class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required name="dateOfDeath" ng-model="form.dateOfDeath" ng-change="dateCompare(form.dateOfBirth,form.dateOfDeath,'dateOfDeath')"/>
                    </div> 
                    <div class="error" ng-show="pensionerForm.dateOfDeath.$error.required && pensionerForm.dateOfDeath.$touched && form.pensionerStatusCode==0"  style="color: red;">
                      Select Date Of death
                    </div> 
                    <div class="error" ng-show="dateOfDeathflg"  style="color: red;">
                      Date Of death is greater than DOB.
                    </div>
                  </li>
                 
    
          </ul> 
      </div>
       </div>
       <div class="text-center" ng-if="form.status==1" style="color: red;font-weight: 500;font-size: 16px;">This record cannot be updated.</div>
   
            </div>
            <div class="modal-footer text-center">
              <div class="text-center">
                <button type="button" class="btn bluebtn" ng-click="update()"  ng-if="form.status==0">Update</button>
                <button type="button" class="btn bluebtn" data-dismiss="modal" ng-click="closemodal()">Close</button>
              </div>
            </div>
        </div>
        
      </div>
    </div>
  </div>


  <div class="modal fade" id="showImageModal"  role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closemodalverifyLife()">&times;</button>
                <h4 class="modal-title">Life Certificate</h4>
            </div>
            <div class="modal-body scrollbar scrollbar-primary">
              <img ng-src="{{ imageLifeCert !== 'null' && imageLifeCert ? 'https://ru-pension-attachment.s3.ap-south-1.amazonaws.com/life_certificate/' + imageLifeCert : 'images/cert.png' }}" alt="no image available" /></span> 
            </div>
            <div class="modal-footer">
              <div class="text-center">
                <!-- <button type="button" class="btn btn-secondary" ng-click="closemodalverifyLife()">Close</button> -->
                <button type="button" class="btn bluebtn" ng-click="VerifyLifeCertificate('NOT_VERIFIED');">Not Verify</button>
              <button type="button" class="btn bluebtn"  ng-click="VerifyLifeCertificate('VERIFIED');">Verify</button>
            </div>
            </div>
        </div>
    </div>
  </div>


  <div class="modal fade" id="confirmModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <div class="formsec nobg">
            <h4 class="modal-title text-center"> Are you sure?</h4>
            </div>
            <div class="text-center">
              <button type="button" class="btn bluebtn" ng-click="closemodalverifyLife()">No</button>
              <button type="button" class="btn bluebtn"  ng-click="VerifyLifeCertificate();">Yes</button>
            </div>
        </div>
        
      </div>
    </div>
  </div>




  <div class="popupbg"></div>
</div>
