<div  ng-controller="pensionerList">

  <div class="titles" data-aos="fade-up" data-aos-duration="1000">List of Pensioner for verification</div> 
 
 
 <div class="tabletop fcs"> 
  
  <div class="flexbox spacebox"> 
    <!-- <div class="flexbox" style="align-items: center;"><lable style="min-width: 70px;font-weight: 500;">View Limit</lable><select class="form-control"  ng-model="itemsPerPage" ng-change="updateItemsPerPage()">
      <option value="" selected>Select Page</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
  </select></div> -->
    <div class="searchfield">
      <select class="form-control" ng-model="frm.searchCriteria" ng-options="search1.shortName as search1.displayName for search1 in masterdata | filter: { type: 'search_criteria' }| orderBy:'displayName'"  ng-change="checkCharacterLengthInPixels(frm.searchCriteria,'list')">
        <option value="" disabled selected >Search By</option>
    </select>
    </div>
  <div class="searchfield searchbox" ng-if="frm.searchCriteria && frm.searchCriteria!='All'"><input class="form-control" type="text" value="" placeholder="Enter {{frm.srchCriteria}}" style="width: 240px;" ng-model="frm.searchCriteriaVal"/> 
    <button type="button" ng-click="searchPensionerDetails(frm.searchCriteria,frm.searchCriteriaVal,'list');"><i class="fa fa-search"></i></button></div>
 
  </div>
        <!-- <div><button class="btn bluebtn"  ng-click="handleLink('pensioner_form')">ADD Pensioner</button></div> -->
      </div>

      <div class="text-center" ng-show="pageFlag"> 
    
        <div data-pagination="" data-num-pages="numOfPages()" data-current-page="curPage"
        data-max-size="maxSize" data-boundary-links="true"> </div>
        </div>
<div class="tablesec scrollbar scrollbarPaddingr scrollbar-primary">

        <table class="table table-striped" id="exportTable">
          <thead>
            <tr >
              <!-- <th width="60">Photo</th> -->
              <th width="120">Pension ID</th>
              <th width="200" class="text-center">Name of Pensioner</th>
              <th width="200">Name of Employee</th>
              <th class="text-center">Emp Pension ID</th>
              <th class="text-center">Basic Pension</th>
              <th class="text-center">Medical Allowance</th>
              <th class="text-center">HRA</th>
              <!-- <th width="110">Mobile</th> -->
              <!-- <th>Email </th> -->
              <th width="100" class="text-center">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="x in listOfPensioner | orderBy:'-inserted_on'">
              <!-- <td><img src="images/users.jpg" alt="img" height="26" class="rounded" /></td> -->
              <td>{{x.id}}</td>
              <td class="text-center">{{x.name_of_pensioner}}</td>
              <td>{{x.sir_name}} {{x.name_of_employee}}</td>
              <td class="text-center">{{x.staff_pensioner_id}}</td>
              <td class="text-center">{{x.basic}}</td>
              <td class="text-center">{{x.ma}}</td>
              <td class="text-center">{{x.hra}}</td>
              <!-- <td><a href="tel:9876543210">{{x.}}</a></td> -->
              <!-- <td><a href="mailto:amardeepsingh@gmail.com">{{x.}}</a></td> -->
              <td> 
                <button class="btn viewbtn" data-toggle="modal" data-tooltip="tooltip" data-placement="top" title="View" data-target="#myModal" ng-click="showdata(x);" ><i class="fa fa-eye"></i></button>
                <button class="btn editbtn" data-tooltip="tooltip" title="Verify" ng-click="fetchDataForVerify(x.id);" ng-if="x.verified_on==null"><i class="fa fa-paper-plane"></i></button>
                <button class="btn editbtn"  data-tooltip="tooltip"  data-placement="top" title="Verified" style="background-color: rgb(200, 241, 200);" ng-if="x.verified_on!=null"><i class="fa fa-check" style="color: green;"></i></button>
                <!-- <button class="btn deletebtn" data-toggle="modal" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>  -->
              </td>
            </tr>
           
          </tbody>
        </table>

      </div>
      <!-- <div class="text-center" ng-show="pageFlag"> 
    
        <div data-pagination="" data-num-pages="numOfPages()" data-current-page="curPage"
        data-max-size="maxSize" data-boundary-links="true"> </div>
        </div> -->
<!-- for excel only -->
      <div class="tablesec excelformate"  style="display: none;">
        <table class="table table-striped" id="exportTable">
          <thead>
            <tr >
              <!-- <th width="60">Photo</th> -->
              <th width="120">ID</th>
              <th>Sir Name</th>
              <th width="200">Name of Employee</th>
              <th width="200">Name of Pensioner</th>
              <th >Gender</th>
              <th class="text-center">DOB</th>
              <th class="text-center">Acconut No.</th>
              <th class="text-center">Account Effective From</th>
              <th class="text-center">Ifsc Code</th>
              <th class="text-center">Branch Name</th>
              <th class="text-center">Branch City</th>
              <th class="text-center">Branch State</th>
              <th class="text-center">Date of joining</th>
              <th class="text-center">Date of Superannuation</th>
              <th class="text-center">Date of death</th>
              <th class="text-center">Mobile No.</th>
              <th class="text-center">WhatsApp No.</th>
              <th class="text-center">Email</th>
              <th class="text-center">Aadhar No.</th>
              <th class="text-center">Pan Record</th>
              <th class="text-center">PAN No.</th>
              <th class="text-center">Department</th>
              <th class="text-center">Employee Type</th>
              <th class="text-center">Designation</th>
              <th class="text-center">College/Department</th>
              <th class="text-center">Basic</th>
              <th class="text-center">D.R.</th>
              <th class="text-center">M.A.</th>
              <th class="text-center">Gross Pension</th>
              <th class="text-center">HRA</th>
              <th class="text-center">Other Allowance</th>
              <th class="text-center">Total (After HRA Ded.)</th>             
              <th class="text-center">I. Tax</th>
              <th class="text-center">Total</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="x in listOfPensioner">
              <!-- <td><img src="images/users.jpg" alt="img" height="26" class="rounded" /></td> -->
              <td>{{x.id}}</td>
              <td>{{x.sir_name}}</td>
              <td>{{x.name_of_pensioner}}</td>
              <td>{{x.name_of_employee}}</td>
              <td class="text-center">{{x.sex}}</td>
              <td class="text-center">{{x.date_of_birth}}</td>
              <td class="text-center">{{x.account_no}}</td>
              <td class="text-center">{{x.account_effective_from}}</td>
              <td class="text-center">{{x.ifsc_code}}</td>
              <td class="text-center">{{x.branch_name}}</td>
              <td class="text-center">{{x.branch_city}}</td>
              <td class="text-center">{{x.state}}</td>
              <td class="text-center">{{x.date_of_joining}}</td>
              <td class="text-center">{{x.date_of_relieving}}</td>
              <td class="text-center">{{x.date_of_death}}</td>
              <td class="text-center">{{x.mobile_no}}</td>
              <td class="text-center">{{x.whats_app_mobile_no}}</td>
              <td class="text-center">{{x.email_id}}</td>
              <td class="text-center">{{x.adhar_no}}</td>
              <td class="text-center">{{x.pan_record}}</td>
              <td class="text-center">{{x.pan_no}}</td>
              <td class="text-center">{{x.department}}</td>
              <td class="text-center">{{x.ppo_no}}</td>              
              <td class="text-center">{{x.pay_commission_code}}</td>
              <td class="text-center">{{x.post}}</td>
              <td class="text-center">{{x.college}}</td>
              <td class="text-center">{{x.basic}}</td>
              <td class="text-center">{{x.date_from}}</td>
              <td class="text-center">{{x.ma}}</td>
              <td class="text-center">{{x.hra}}</td>
              <td class="text-center">{{x.others_allowance}}</td>
              <td class="text-center">{{x.bank_name}}</td>
              <td class="text-center">{{x.pensioner_status_code}}</td>
              <td class="text-center">{{x.pensioner_relation}}</td>
              <td class="text-center">{{x.inserted_on}}</td>
            </tr>
           
          </tbody>
        </table>
      </div>
    


    
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="closemodal()">&times;</button>
          <!-- <h4 class="modal-title text-center">Pensioner Info</h4> -->
          <h4 class="modal-title">Pensioner Info</h4>
        </div>
        <div class="modal-body">
          <div class="formsec nobg">
            
            <ul class="formshow list2">
                <li>
                    <div class="textview">
                      <strong >ID</strong> <span>{{showdetails.id}}</span>
                    </div>
                </li>
                <li>
                  <div class="textview">
                    <strong >Name of Employee</strong> <span>{{showdetails.sir_name}} {{showdetails.name_of_employee}}</span>
                  </div>
              </li>
                <li>
                  <div class="textview">
                    <strong >Name of Pensioner</strong> <span>{{showdetails.name_of_pensioner}}</span>
                  </div>
              </li>

            <li>
              <div class="textview">
                <strong >Gender</strong> <span>{{showdetails.sex}}</span>
              </div>
          </li>
          <li>
            <div class="textview">
              <strong >Date of Birth</strong> <span>{{formatDateToPreviousType(showdetails.date_of_birth)}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Mobile No.</strong> <span>{{showdetails.mobile_no}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >WhatsApp No.</strong> <span>{{showdetails.whats_app_mobile_no}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Email</strong> <span>{{showdetails.email_id}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Employee Type</strong> <span>{{showdetails.post}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Designation</strong> <span>{{showdetails.post}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >College/Department</strong> <span>{{showdetails.college}}</span>
            </div>
          </li>

          <li>
            <div class="textview">
              <strong >Date of Joining</strong> <span>{{formatDateToPreviousType(showdetails.date_of_joining)}}</span>
            </div>
          </li>

          <li>
            <div class="textview">
              <strong >Date of Superannuation</strong> <span>{{formatDateToPreviousType(showdetails.date_of_relieving)}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Bank Name</strong> <span>{{formatDateToPreviousType(showdetails.bank_name)}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Account No.</strong> <span>{{showdetails.account_no}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >IFSC Code</strong> <span>{{showdetails.ifsc_code}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Branch Name</strong> <span>{{showdetails.branch_name}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Branch City</strong> <span>{{showdetails.branch_city}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >State</strong> <span>{{showdetails.state}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Account Effective From</strong> <span>{{formatDateToPreviousType(showdetails.account_effective_from)}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Aadhar No.</strong> <span>{{showdetails.adhar_no}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Pan Record</strong> <span>{{showdetails.pan_record}}</span>
            </div>
          </li>
          <li ng-if="showdetails.pan_record=='Y'">
            <div class="textview">
              <strong >PAN No.</strong> <span>{{showdetails.pan_no}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >PPO No.</strong> <span>{{showdetails.ppo_no}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Pay Commission Code</strong> <span>{{showdetails.pay_commission_code}}</span>
            </div>
          </li>

          <li>
            <div class="textview">
              <strong >Basic</strong> <span>{{showdetails.basic}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Basic Started From</strong> <span>{{formatDateToPreviousType(showdetails.date_from)}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Medical Allowance</strong> <span>{{showdetails.ma}}</span>
            </div>
          </li>
         
          <li>
            <div class="textview">
              <strong >HRA</strong> <span>{{showdetails.hra}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >Other Allowance</strong> <span>{{showdetails.others_allowance}}</span>
            </div>
          </li>
          <li>
            <div class="textview">
              <strong >TDS</strong> <span>{{showdetails.tds}}</span>
            </div>
          </li>
          
          <li>
            <div class="textview" ng-if="showdetails.date_of_death!=null">
              <strong >Date of death</strong> <span>{{showdetails.date_of_death}}</span>
            </div>
          </li>
               
        </ul>
            </div>
            <div class="  text-center">
              <button type="button" class="btn bluebtn" data-dismiss="modal" ng-click="closemodal()">Close</button>
            </div>
        </div>
        
      </div>
    </div>
  </div>



  <div class="modal fade" id="editpensioner" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="closemodal()">&times;</button>
          <!-- <h4 class="modal-title text-center">Pensioner Info</h4> -->
          <h4 class="modal-title text-center">Verify Pensioner Info</h4>
        </div>
        <div class="modal-body">
          <div class="formsec nobg">
              
    <div>
      <div style="color:red; text-align: center;" ng-show="flgmain"> <span>*</span> Field is Compulsory</div>  
      <form name="pensionerForm">
        <div class="formsec">
          <h4>Pensioner Info</h4>
          <ul class="formshow list3">
              <li>
                  <div class="form-group">
                    <label class="required">Name of Employee</label>
                    <div class="disflex">
                    <select class="form-control" name="prefix" disabled  style="width: 90px;" ng-model="form.prefix" ng-options="prefix.shortName as prefix.displayName for prefix in masterdata | filter: { type: 'prefix' } | orderBy:'displayName'" ng-change="fillAutomatic(form.prefix,'prefix')">
                    <option value="" disabled selected>Prefix</option>
                    </select>
                    <input type="text" class="form-control" disabled m-name name="employeeName" required placeholder="Name" ng-model="form.employeeName" maxlength="60"/>
                    </div>
                  </div>
                  
              </li>
              <li>
                <div class="form-group">
                  <label class="required">Employee Type</label>
                  <select class="form-control" ng-model="form.pensionerTypeCode" disabled name="pensionerTypeCode"  title="Select Employee Type" ng-options="pensionerType.pensionerTypeCode as pensionerType.dscr for pensionerType in pensionerType | orderBy:'pensionerTypeCode'"><!--ng-change="fetchgrade(form.pensionerTypeCode)"-->
                    <option value="" disabled selected>Select Employee Type</option>
                </select>
                </div> 
            </li>
            <li>
              <div class="form-group">
                <label class="required">Pay Commission Code</label>
                <select class="form-control" ng-model="form.payCommissionCode" disabled name="payCommissionCode"  title="Select Pay Commission Code" ng-options="x.payCommissionCode as x.dscr for x in payCommisions | orderBy:'dscr'">
                  <option value="" disabled selected>Select Pay Commission Code</option>
                  </select>
              </div> 
            </li>
              <li>
                <div class="form-group">
                  <label class="required">Gender </label>
                  <select class="form-control" ng-model="form.sex" disabled name="sex" title="Select Gender" ng-options="sex.shortName as sex.displayName for sex in masterdata | filter: { type: 'sex' } | orderBy:'displayName'">
                  <option value="" disabled selected>Select Gender</option>
                  </select>
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label class="required">Date of Birth</label>
                  <input type="text" class="datepicker form-control" autocomplete="off" disabled name="dateOfBirth" placeholder="DD-MM-YYYY" new-datepicker ng-model="form.dateOfBirth" ng-change="isSeniorCitizen(form.dateOfBirth)"/>
                </div> 
            </li>
              <li>
                <div class="form-group">
                  <label>Father's Name / Husband's Name</label>
                  <input type="text" m-name class="form-control" maxlength="60" disabled placeholder="Father's Name / Husband's Name" ng-model="form.fatherName" name="fatherName"/>
                 </div>
            </li>
            <li>
              <div class="form-group">
                <label>Religion</label>
                <select class="form-control" ng-model="form.religionName" disabled ng-options="x.religionName as x.religionName for x in religion">
                  <option value="" disabled selected>Select Religion</option>
                  </select>
               </div>
          </li>
          <li>
            <div class="form-group">
              <label class="required">Pensioner Relation</label>
                <select class="form-control" ng-model="form.pensionerRelation" name="pensionerRelation" disabled title="Select Pensioner Relation" ng-options="x.pensionerRelation as x.pensionerRelation for x in relationship" ng-change="fillAutomatic(form.pensionerRelation,'relation')"> 
                <option value="" disabled selected>Select Pensioner Relation</option>
                </select>
            </div> 
          </li>
            <li>
              <div class="form-group">
                <label class="required">Pensioner Name</label>
                <input type="text" class="form-control" m-name maxlength="60" disabled placeholder="Pensioner Name" name="pensionerName" required ng-model="form.pensionerName"/>
              </div>
            </li>
            <li ng-if="form.pensionerRelation!=='Self'">
              <div class="form-group">
                <label class="required">Date Of death</label>
                <input type="text" class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" disabled datepicker required name="dateOfDeath" ng-model="form.dateOfDeath" ng-change="dateCompare(form.dateOfBirth,form.dateOfDeath,'dateOfDeath')"/>
              </div>
            </li>
    
            <li>
              <div class="form-group">
                <label>Rate Of Pension(%)</label>
                <input type="text" class="form-control" placeholder="Rate Of Pension" disabled ng-model="form.rateOfPension" m-num-only maxlength="3"/>
              </div> 
            </li>
              </ul>
          </div>
    
          <div class="formsec" style="background: #f9f0e1;">
            <h4>Addresss</h4>
            <ul class="formshow list3">
            <li>
              <div class="form-group">
                <label class="required">Pin</label>
                <input type="text" class="form-control" placeholder="Pin" maxlength="6" name="pin" disabled ng-model="form.pin" ng-blur="address(form.pin)" m-num-only/>
              </div>
          </li>
          <li>
            <div class="form-group">
              <label class="required">Address</label>
              <input type="text" class="form-control" placeholder="Address" disabled ng-model="form.addr1"/>
            </div> 
        </li>
          <li>
            <div class="form-group">
              <label class="required">Post office</label>
            <select class="form-control" ng-model="form.addr2" disabled  title="Select Post Office">
              <option value="" disabled selected>Post Office</option>
              <option ng-repeat="post in postoffice" value="{{post.Name}}">{{post.Name}}</option>
            </select>
            </div> 
        </li>
            <li>
              <div class="form-group">
                <label class="required">City</label>
                <input type="text" class="form-control" disabled  m-name placeholder="City" ng-required="true" ng-model="form.city"/>
              </div> 
          </li>
          <li>
            <div class="form-group">
              <label class="required">State</label>
              <input type="text" class="form-control" disabled placeholder="State" m-name required ng-model="form.state"/>
            </div> 
        </li>
    
                </ul>
             </div>
    
    
    
    
           <div class="formsec" style="background: #f9f0e1;">
            <h4>Affiliation Info</h4>
            <ul class="formshow list3">
              <!-- <li>
                <div class="form-group">
                  <label>University Code</label>
                  <input type="text" class="form-control" placeholder="University Code" required="" ng-model="form.universityCode"/>
                </div> 
            </li> -->
          <li>
            <div class="form-group">
              <label class="required">College/University</label>
                <select class="form-control" ng-model="form.collegeCode" disabled name="collegeCode" title="Select College/University" ng-options="x.collegeShortName as x.dscr for x in colleges" ng-change="fetchdepartment(form.collegeCode);">
                <option value="" disabled selected>Select College</option>
            </select>
            </div> 
        </li>
          <li>
            <div class="form-group">
              <label class="required">Department</label>
              <select class="form-control" ng-model="form.departmentCode" required disabled name="departmentCode" title="Select Department" ng-options="x.deptShortName + '!!' + x.departmentIds  as x.dscr for x in departmentlist">
                <option value="" disabled selected>Select Department</option>
            </select>
            </div> 
        </li>
            <li>
              <div class="form-group">
                <label class="required">Level</label>
                <select class="form-control" ng-model="form.gradeCode" disabled name="gradeCode" title="Select Level" ng-options="grade.gradeCode as grade.dscr for grade in pensionerGrade | filter: {pensionerTypeCode: form.pensionerTypeCode}  | orderBy:'gradeCode'" ><!--ng-change="fetchdesigation(form.gradeCode);"-->
                  <option value="" disabled selected>Select Level</option>
              </select>
              </div> 
          </li>
          <li>
            <div class="form-group">
              <label class="required">Designation</label>
              <select class="form-control" ng-model="form.desigShortName" required disabled name="desigShortName" title="Select Designation" ng-options="designation.desigShortName + '!!' + designation.designationId as designation.dscr for designation in pensionerDesignation | filter: { gradeCode: form.gradeCode } ">
                <option value="" disabled selected>Select Designation</option>
            </select>
            </div>
        </li>

            <li ng-if="form.pensionerTypeCode=='PT1'">
            <div class="form-group">
              <label>Subject</label>
              <select class="form-control" ng-model="form.subjectCode" disabled title="Select Subject" ng-options="subjectCode.subjectCode as subjectCode.dscr for subjectCode in subjects">
                <option  value="" disabled selected>Select Subject</option>
            </select>
            </div> 
          </li>
          <li>
            <div class="form-group">
              <label>Pensioner Univ Id</label>
              <input type="text" class="form-control" maxlength="20"  placeholder="Pensioner Univ Id" disabled ng-model="form.pensionerUnivId"/>
            </div> 
          </li>
                </ul>
             </div>
    
    
             
           <div class="formsec" style="background: #eae7e7">
            <h4>Appointment Info</h4>
            <ul class="formshow list3">
              <li>
                <div class="form-group">
                  <label class="required">Date of Last Appointment</label>
                  <input type="text" class="datepicker form-control" autocomplete="off" disabled  placeholder="DD-MM-YYYY" datepicker required name="dateOfLastAppointment" ng-model="form.dateOfLastAppointment" ng-change="dateCompare(form.dateOfBirth,form.dateOfLastAppointment,'LA')"/>
                </div> 
              </li>
              <li>
                <div class="form-group">
                  <label>Date of Regularisation</label>
                  <input type="text" class="datepicker form-control" autocomplete="off" disabled placeholder="DD-MM-YYYY" datepicker required ng-model="form.dateOfRegularisation" ng-change="dateCompare(form.dateOfLastAppointment,form.dateOfRegularisation,'Rgl')"/>
                </div> 
              </li>
    
              <li>
                <div class="form-group">
                  <label class="required">Date of Superannuation</label> 
                  <input type="text" class="datepicker form-control" autocomplete="off" disabled placeholder="DD-MM-YYYY" datepicker required name="dateOfSeparation" ng-model="form.dateOfSeparation"  ng-change="dateCompare(form.dateOfRegularisation,form.dateOfSeparation,'Spr')"/>
                </div>
              </li>
    
                </ul>
             </div>
    
    
             <div class="formsec">
              <h4>Personal Info</h4>
              <ul class="formshow list3">
    
                <li>
                  <div class="form-group">
                    <label class="required">PPO No.</label>
                    <input type="text" class="form-control"  minlength="12" disabled maxlength="12" required placeholder="PPO No" name="ppoNo" ng-model="form.ppoNo" m-num-only  no-special-characters/>
                  </div> 
                </li>
                <li>
                  <div class="form-group">
                    <label class="required">Aadhaar No.</label>
                    <input type="text" class="form-control" maxlength="12" maxlength="12" placeholder="Aadhaar No" disabled name="aadhaar" ng-model="form.aadhaar" m-num-only ng-blur="chkAadhar();"/><!--aadhar-validator-->
                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <label>PAN Record</label>
                    <select class="form-control" ng-model="form.panRecord" disabled data-live-search="true"  title="Select" ng-options="panRecord.shortName as panRecord.displayName for panRecord in masterdata | filter: { type: 'pan_record' } | orderBy:'displayName'">
                      <option value="" disabled selected >Select</option>
                  </select>
                  </div> 
                </li>
                <li ng-if="form.panRecord==='Y'">
                  <div class="form-group">
                    <label>PAN No.</label>
                    <input type="text" class="form-control" m-capitalize maxlength="10" minlength="10" disabled pan-number placeholder="like:- ABCTY1234D" required="" name="pan" ng-model="form.pan" />
                  </div> 
                </li>
                <li>
                  <div class="form-group">
                    <label class="required">Email Id</label>
                    <input type="text" class="form-control" disabled placeholder="Email Id" name="emailId" required ng-model="form.emailId" ng-pattern="/^[a-zA-Z0-9._%+-]+@gmail\.com$/"
                    ng-change="chkemail(form.emailId)"/>
                  </div>
                  <div class="error" ng-show="pensionerForm.emailId.$error.required && pensionerForm.emailId.$touched" style="color: red;">
                    This field is required.
                  </div>
                  <div class="error" ng-show="pensionerForm.emailId.$error.pattern" style="color: red;">
                    Please enter a valid email address.
                  </div>
                  <div class="error" ng-show="pcode1"  style="color: red;">
                    Email Id already exist.
                  </div>
              </li> 
    
                <li>
                  <div class="form-group">
                    <label class="required">Mobile No.</label>
                    <input type="text" class="form-control" maxlength="10" minlength="10" disabled ng-pattern="/^[6-9]\d{9}$/" placeholder="Mobile No" required name="mobileNo" ng-model="form.mobileNo" m-num-only />
                  </div> 
                </li>
                <style>
                  .sameaschk { display: flex; width: 142px; align-items: center; justify-content: space-between; font-weight: 500; float: right;}
                  .sameaschk input{margin: 0;}
                </style>
    
                <li>
                  <div class="form-group">
                    <label class="required">WhatsApp No.  </label> <label class="sameaschk"><input type="checkbox" ng-model="sameAsMobileNo" ng-change="sameasMobileNo(form.mobileNo)">Same as Mobile No.</label>
                    <input type="text" class="form-control" maxlength="10" disabled minlength="10" ng-pattern="/^[6-9]\d{9}$/" placeholder="WhatsApp Mobile No" required name="whatsAppMobileNo" ng-model="form.whatsAppMobileNo" m-num-only ng-blur="checkDuplicate('whatsAppMobileNo',form.whatsAppMobileNo)"/>
                  </div> 
                  <div class="error" ng-show="pensionerForm.mobileNo.$error.pattern || pensionerForm.mobileNo.$error.minlength"  style="color: red;">
                    Mobile number should start with 6 to 9 and contains 10 digits mobile no.
                  </div>
                  <!-- <div class="error" ng-show="pensionerForm.mobileNo.$error.minlength"  style="color: red;">
                    Enter 10 digits mobile no.
                  </div> -->
                  <div class="error" ng-show="(pensionerForm.whatsAppMobileNo.$error.required && pensionerForm.whatsAppMobileNo.$touched) || (form.whatsAppMobileNo===undefined && pensionerForm.whatsAppMobileNo.$touched)"  style="color: red;">
                    Enter Mobile No.
                  </div>
                  <div class="error" ng-show="whatsAppMobileNodup"  style="color: red;">
                    Mobile No. already exist
                  </div>
                </li>
                 
                  </ul>
               </div>
               <div class="formsec" style="background: #ffe5ed;">
                <h4>Bank Account Info</h4>
                <ul class="formshow list3">
                  <li>
                    <div class="form-group">
                      <label class="required">Name of Bank</label>
                      <select class="form-control" disabled ng-model="bank.bankCode" name="bankCode" required ng-options="bank.bankCode as bank.bankName for bank in banklist">
                        <option value="" disabled selected >Select Bank</option>
                    </select>
                    </div> 
                  </li>
                  <li>
                    <div class="form-group">
                      <label class="required">Date Effective from</label>
                      <input type="text" disabled class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required name="accountEffectiveFrom" ng-model="bank.accountEffectiveFrom" ng-change="dateCompare(form.dateOfBirth,bank.accountEffectiveFrom,'accountEffectiveFrom')"/>
                    </div> 
                  </li>
                  <li>
                    <div class="form-group">
                      <label class="required">Account No.</label>
                      <input type="text" disabled class="form-control" m-num-only maxlength="20" placeholder="Account No" required name="accountNo" ng-model="bank.accountNo"/>
                    </div> 
                  </li>
                  <li>
                    <div class="form-group">
                      <label class="required">IFSC Code</label>
                      <input type="text" disabled m-capitalize class="form-control" placeholder="IFSC Code" ng-pattern="/^[A-Z]{4}\d{7}$/" minlength="11" maxlength="11" required name="ifscCode" ng-model="bank.ifscCode" no-special-characters/>
                    </div> 
                  </li>
    
                  <li>
                    <div class="form-group">
                      <label>Branch</label>
                      <input type="text" disabled class="form-control" m-name placeholder="Branch" maxlength="30" required="" ng-model="bank.branchName"/>
                    </div> 
                  </li>
                  <li>
                    <div class="form-group">
                      <label class="required">City</label>
                      <input type="text" disabled class="form-control" m-name maxlength="30" placeholder="Branch City" required name="branchCity" ng-model="bank.branchCity"/>
                    </div> 
                  </li>
                  <li>
                    <div class="form-group">
                      <label class="required">State</label>
                      <input type="text" disabled class="form-control" m-name maxlength="20" placeholder="Branch State" required name="state" ng-model="bank.state"/>
                    </div> 
                  </li>
                   
                    </ul>
                 </div>
    
    
                 <div class="formsec" style="background: #dadbf7;">
                <h4>Pay Details</h4>
                <ul class="formshow list3">
             
              <li>
                <div class="form-group">
                  <label class="required">Date From</label>
                  <input type="text" disabled class="datepicker form-control" autocomplete="off" placeholder="DD-MM-YYYY" datepicker required name="dateFrom" ng-model="paydetail.dateFrom" ng-change="dateCompare(form.dateOfBirth,paydetail.dateFrom,'dateFrom')"/>
                </div>
              </li>
    
              <li>
                <div class="form-group">
                  <label class="required">Basic pension</label>
                  <input type="text" disabled class="form-control" disabled placeholder="Basic pension" m-num-only maxlength="10" required name="pensionBasic" ng-model="paydetail.pensionBasic"/>
                </div> 
              </li>
              <li>
                <div class="form-group">
                  <label class="required">Medical Allowance</label>
                  <input type="text" disabled class="form-control" placeholder="Medical Allowance" m-num-only maxlength="7" required name="medicalAllowance" ng-model="paydetail.medicalAllowance"/>
                </div> 
                <div class="error" ng-show="pensionerForm.medicalAllowance.$error.required && pensionerForm.medicalAllowance.$touched"  style="color: red;">
                  Enter Medical Allowance
                </div> 
              </li>
              <li>
                <div class="form-group">
                  <label>HRA</label>
                  <input type="text" class="form-control" disabled placeholder="HRA" maxlength="7" m-num-only name="hra" ng-model="paydetail.hra"/>
                </div> 
                <!-- <div class="error" ng-show="pensionerForm.hra.$error.required && pensionerForm.hra.$touched"  style="color: red;">
                  Enter HRA
                </div>  -->
              </li>
              <li>
                <div class="form-group">
                  <label>Other Allowance</label>
                  <input type="text" class="form-control" disabled placeholder="Others Allowance" maxlength="7" m-num-only name="othersAllowance" ng-model="paydetail.othersAllowance"/>
                </div> 
                <!-- <div class="error" ng-show="pensionerForm.hra.$error.required && pensionerForm.hra.$touched"  style="color: red;">
                  Enter HRA
                </div>  -->
              </li>
              <li>
                <div class="form-group">
                  <label>TDS</label>
                  <input type="text" class="form-control" disabled placeholder="TDS" maxlength="20" m-num-only name="tds" ng-model="paydetail.tds"/>
                </div> 
                <!-- <div class="error" ng-show="pensionerForm.hra.$error.required && pensionerForm.hra.$touched"  style="color: red;">
                  Enter HRA
                </div>  -->
              </li>
          </ul> 
      </div>
    
              <div class="formsec" style="background: #dadbf7;">
                <h4>Other Info</h4>
                <ul class="formshow list3">
                  <li>
                    <div class="form-group">
                      <label class="required">Pensioner Status Code</label>
                      <select class="form-control" name="pensionerStatusCode" disabled required ng-model="form.pensionerStatusCode" ng-options="x.pensionerStatusCode as x.dscr for x in pensionerStatus">
                        <option value="" disabled selected >Select Pensioner Status Code</option>
                    </select>
                    </div> 
                  </li>

                  <li>
                    <div class="form-group">
                      <label class="required">Life Certificate Status</label>
                      <select class="form-control" name="curLifeCf" ng-disabled="true" ng-model="form.curLifeCf">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                    </div> 
                  </li>
                 
    
          </ul> 
      </div>
       </div>
       <div class="text-center" ng-if="form.curLifeCf==0" style="color: red;font-weight: 500;font-size: 16px;">
        This record cannot be verified due to life certificate.</div>
   
            </div>
            <div class="modal-footer text-center">
              <div class="text-center">
                <button type="button" class="btn bluebtn" ng-click="verifyData(form.pensionerId)" ng-disabled="form.curLifeCf==0">Verify</button>
                <button type="button" class="btn bluebtn" data-dismiss="modal" ng-click="closemodal()">Close</button>
              </div>
            </div>
        </div>
        
      </div>
    </div>
  </div>




  <div class="popupbg"></div>
</div>
